[2020-04-21 13:37] bhousel commented on #3752
We can do
[code]

But I'd treat the `name` tag as close as possible to how people familiarly think of the brand and how they'd expect to see it rendered on maps.  This will never be perfect, but see https://github.com/osmlab/name-suggestion-index/issues/2236#issuecomment-451346930 for some thoughts on how we approach naming.

[2020-04-21 13:38] pyrog commented on #3756
Hi Bryan,

I read your comments. Thank for the explanations 😃

I thought that NSI also work on brand's names.
Could be fine to add this feature 😃

I founded these keys in french data, but they should be deleted.

[2020-04-21 13:39] pyrog commented on #3756
A workaround could be:

1. we type the name
1. the editor add brand and other tags
1. we replace the name by the real one

What do you think of that ?

[2020-04-21 13:40] bhousel commented on #3751
No let's please leave Sephora as `shop=cosmetics` how it is.  "cosmetics" includes a bunch of products like perfume, makeup, hair care, lotion, etc.

[2020-04-21 13:40] #3751 closed

[2020-04-21 13:51] bhousel commented on #3748
These are the entries:
https://github.com/osmlab/name-suggestion-index/blob/8cae61bbbe18be164e46256593b5517818015414/brands/amenity/vending_machine.json#L2-L29

(Pro tip! You can link to lines of code on GitHub by shift-selecting the lines, clicking the … meatball menu, and selecting "copy permalink".  Then paste it into an issue so we can talk about it easier).

Because Amazon Locker has its own

[2020-04-21 13:51] #3748 closed

[2020-04-21 13:55] gendy54 commented on #3755
Ok Bryan. I thought the template would make it easier for you to integrate, but if you'd rather there wasn't, I have no objection.

[2020-04-21 13:59] pyrog commented on #3755
Agree too. I have no experience with templates, it's a "new" feature for me 😉

PS: templates : [PanierAvide/Covid_enseignes/issues/new/choose](https://github.com/PanierAvide/Covid_enseignes/issues/new/choose)

[2020-04-21 14:00] gendy54 commented on #3752
Okay, your analysis suits me perfectly.
I had mapped a shop with name=Bastide, because Le Confort Médical seemed superfluous to me.

[2020-04-21 14:00] bhousel commented on #3755
Thanks for understanding @gendy54  - I don't have a ton of time to dedicate to this project so I'd rather keep things relatively simple and avoid the templates, and let people open up whatever issues they want to.

[2020-04-21 14:00] #3755 closed

[2020-04-21 14:01] gendy54 commented on #3751
It's fixed ;)

[2020-04-21 14:24] pyrog opened #3761 "Add french pharmacy Anton et Willem"
`brand=Anton et Willem`
`brand:wikidata=`[Q91330267](https://www.wikidata.org/wiki/Q91330267)
`amenity=pharmacy`
`healthcare=pharmacy`
`dispensing=yes`

Curently 4 / [~40](https://www.anton-et-willem.fr/pharmacies) in France : https://overpass-turbo.eu/s/T8l
website: https://www.anton-et-willem.fr

See #3756 for issue with names

[2020-04-21 17:57] pyrog commented on #3754
Have a look to https://www.auvieuxcampeur.fr/boutiques/Paris  😉

PS:I checked all shop, they mainly sells outdoor equipments.

[2020-04-21 18:00] pyrog commented on #3750
@bhousel in https://github.com/osmlab/name-suggestion-index/issues/3756#issuecomment-617181638

[2020-04-21 18:03] HussainArif12 commented on #3753
I've added a fix to this issue. Kindly check

[2020-04-21 19:56] gendy54 commented on #3753
Why name and brand GO SPORT in uppercase?

[2020-04-21 23:16] pyrog opened #3763 "Add european curtains shop Heytens"
`name=Heytens`
`shop=curtain`

Currently, **46** objects in OSM : https://overpass-turbo.eu/s/SQm
country | website
--|--
 world | https://www.heytens.com
be | https://www.heytens.be
fr | https://www.heytens.fr
lu | https://www.heytens.lu
ch | https://www.heytens.ch

wikidata: [Q90565231](https://www.wikidata.org/wiki/Q90565231)

PS: I don't know if we use the same wikidata items for this brand fo

[2020-04-22 07:10] HussainArif12 commented on #3753
My apologies, it was my mistake. I've fixed this in the latest commit

[2020-04-22 14:14] bhousel commented on #3550
done in #3758

[2020-04-22 14:14] #3550 closed

[2020-04-23 09:51] pyrog opened #3764 "Add french beauty shop Carlance"
`brand=Carlance`
`brand:wikidata=`[Q91601625](https://www.wikidata.org/wiki/Q91601625)
`shop=beauty`

Currently 23 / 70 in France https://overpass-turbo.eu/s/Td3
website: http://www.carlance.fr

[2020-04-23 10:06] pyrog commented on #3750
Existing tags are `shop=tobacco`, `shop=chemist`, `shop=yes`
Currently 32 / [98](https://www.vapostore.com/magasins-cigarette-electronique) in France: https://overpass-turbo.eu/s/Td9

[2020-04-24 08:26] Adamant36 opened #3765 "Add Sunbelt Rentals"
American equipment rental chain. Doesn't have a Wikidata or Wikipedia entry.
https://www.sunbeltrentals.com/

[2020-04-24 08:29] Adamant36 commented on #3763
Or we should/must create one for each country

If it goes by the same name everywhere, then just one entry is fine. We don't use websites anyway.

[2020-04-24 15:20] MohamedBechir commented on #3764
@pyrog i am new to contributing and i want to start with solving this issue can you guide me through it ? Thank you

[2020-04-27 06:06] chankailong commented on #3761
I want to help this issue.

It is my first time to contribute to the Github.

After reading the instruction, should I follow the "Adding missing brands"?

Also, I don't get the meaning of #3756. So what the conclusion is for the "name"?

Thank you!

[2020-04-27 07:03] bmillemathias-1a commented on #3756
How a contributor in ID would know he was to remove the name (and actually iD locks the field when it comes from nsi). That's no go for me.

[2020-04-27 07:13] bmillemathias-1a commented on #3756
I was talking about network because Lafayette as I understand it, from the local pharmacy I know is not really a brand , but a network of pharmacy. The logo and the name is present of the front but this is not the main name as it would be for a real brand (Tesco, Target, ...). Perhaps this name is not correct in the context of OSM (but I saw use of it in the very same spirit of what I suggested on

[2020-04-27 07:14] pyrog commented on #3756
If he don't know, he keep the name 😉

For information, iD locks the field if there is a `brand:wikidata`.

Go to **All tags**, change the name value to "Pharmacie du Centre" and… that's all 😃

[2020-04-27 07:23] pyrog commented on #3756
👍

In France, there are ~ hundreds of "networks", trade unions : https://www.labodata.com/annuaire-des-groupements-de-pharmacies

[2020-04-27 07:42] pyrog commented on #3752
https://entreprise.data.gouv.fr/etablissement/30563503900608

[2020-04-27 14:21] #3752 closed

[2020-04-27 16:23] pyrog opened #3774 "МИБС is not a brand for medical supply"
Seem to be center for diagnostic radiology (PET, MRI…).
See [translation of their website](https://translate.google.com/translate?hl=fr&sl=ru&tl=en&u=https%3A%2F%2Fldc.ru%2F).

Don't know which tag to use: `healthcare=*` + `healthcare:speciality=diagnostic_radiology` ?

[2020-04-27 23:42] mds08011 commented on #3764
@MohamedBechir please review [CONTRIBUTING.md](https://github.com/osmlab/name-suggestion-index/blob/master/CONTRIBUTING.md#convenience_store--add-missing-brands) and let us know if you have specific questions.

[2020-04-28 04:08] chankailong opened #3775 "Resolving the Warning Issue"
"amenity/payment_terminal|ПриватБанк" -> duplicates? -> "amenity/bank|ПриватБанк"
"amenity/payment_terminal|Сбербанк" -> duplicates? -> "amenity/bank|Сбербанк"

After reading the wiki, I suggested to add ""matchTags": ["amenity/payment_terminal"]" to "amenity/bank".

https://www.wikidata.org/wiki/Q1515015
https://www.wikidata.org/wiki/Q205012

If it's fine, I can help to fix

[2020-04-28 04:37] bhousel commented on #3775
For this one, I think people are mapping banks separate from payment terminals, so adding matchTags is probably not what we want to do..

I think we could treat the payment terminals like ATMs, but we aren’t really sure what to do with ATMs yet either (#2883 and #3056)

[2020-04-28 11:35] Adamant36 commented on #3761
Hi there. Unfortunately, I didn't follow along with the conversation in #3756. So I don't know what it's about. @pyrog would though, or another option would be to do a PR for something else. It doesn't really matter. Whatever you feel like doing 👍

[2020-04-29 05:05] Adamant36 opened #3776 "Add Pharmacies Bolivia"
Bolivian pharmacy chain
Q81970584
http://www.farmaciasbolivia.com.bo/

[2020-04-30 15:35] #3700 closed

[2020-05-01 01:22] ferreiro-axel commented on #3776
Hi! I just fork it to make this my first contribution but it seems like it has already been added in #3490

[2020-05-01 01:36] Adamant36 commented on #3776
Wierd. Thanks for mentioning it. I did a search for it before opening the issue and nothing came up for some reason.

[2020-05-01 01:36] #3776 closed

[2020-05-02 02:14] alpe88 commented on #3753
@HussainArif12 why not assign this to yourself?

[2020-05-02 09:30] Adamant36 commented on #3753
I might be wrong since I've been a calibrator for a while, but I don't think non-collaborators can assign things.

[2020-05-02 09:32] HussainArif12 commented on #3753
Hi, this issue has been resolved.

On Sat, May 2, 2020 at 7:14 AM aleksandar <notifications@github.com> wrote:

[2020-05-02 09:44] Adamant36 commented on #3753
So it has. Thanks for the heads up. Closed in #3760

[2020-05-02 09:44] #3753 closed

[2020-05-02 10:38] UKChris-osm opened #3799 "Car Park Operators as Names (Q-Park)"
I just noticed a new addition to the NSI ([ee271f6](https://github.com/osmlab/name-suggestion-index/commit/ee271f6fd65041beb08f31dc69a0002f0acf666c)) which is for the car park operator **Q-Park**, which places the car park operator as the name of the car park.

However, I think many car parks have their own name (e.g [Cedars Car Park](https://www.openstreetmap.org/way/119564846)), and so wouldn't

[2020-05-02 12:22] Crashillo opened #3800 "Dissolved filter in the UI"
Since the NSI is able to store the dissolved brands, it would be strongly recommended do not use that brands.
Could be possible hide those dissolved brands from startup and append another checkbox, as the `incomplete` does, in order to enable displaying dissolved brands?

Proposal:
![imagen](https://user-images.githubusercontent.com/817526/80864035-40dab900-8c80-11ea-97e4-6a46d2c56fb4.png)

[2020-05-02 12:45] Crashillo opened #3801 "Add spanish bank Bantierra"
[code]

[2020-05-03 08:08] RishabhBajaj97 commented on #3764
hey !
I have added this on my local repository could you please tell me how to generate pull request and submit this code
Thank you

[2020-05-03 13:33] UKChris-osm commented on #3764
Hi @RishabhBajaj97,

Thanks for your PR #3810, unfortunately there is a spelling mistake in the "name" value, where "Carl**e**nce" with an "**e**" is used in the middle, compared to the rest of the entry, which uses "Carl**a**nce", were an "**a**" is used in the middle.

[2020-05-03 16:53] #3801 closed

[2020-05-03 18:23] #3759 closed

[2020-05-04 10:16] UKChris-osm commented on #3764
Closed with merging of #3810, thank you @RishabhBajaj97

[2020-05-04 10:16] #3764 closed

[2020-05-05 07:11] Adamant36 commented on #3800
It's still useful to get icons for them and update their Wikidata information where we can IMO. What's exactly is the disadvantage of showing them? Especially when if you add their logo to Wikidata they will be filtered out anyway by checking "incomplete."

[2020-05-05 07:23] Adamant36 commented on #3799
All the other parking entries have name tags.  Although I'm not 100% sure, I think it would need one to work. People can change it manually if need be anyway.

I semi agree with that. Although, again all the other parking entries have fee=yes. So 🤷

[2020-05-05 07:56] Crashillo commented on #3800
Does *incomplete* tag mean they don't have yet a matching wikidata, right? But a dissolved brand may have an wikidata anyway. It could be complete, besides dissolved.
I say so because, imho, it's not clear enough when a brand is dissolved, thus using the tag should be discouraged. Currently, you've to notice at the description column, the *former* word, haven't you? And sometimes, it's missing, fo

[2020-05-05 09:23] Adamant36 commented on #3800
Yeah exactly. If you add an icon for them in Wikidata and then check incomplete after the site is updated it should filter them out.

IMO this is just a list of brands and the NSI just serves as a way to show what entries need Wikidata information still. Whatever their status might be. It's not intended to push the user in one way or another. A more practical thing in that respect would be to have

[2020-05-06 21:07] UKChris-osm commented on #3749
Merged via #3830

[2020-05-06 21:07] #3749 closed

[2020-05-07 20:59] UKChris-osm commented on #3750
Merged via #3834

[2020-05-07 20:59] #3750 closed

[2020-05-09 12:19] UKChris-osm commented on #3761
Merged via #3832

[2020-05-09 12:19] #3761 closed

[2020-05-09 12:28] UKChris-osm commented on #3754
Merged via #3833

[2020-05-09 12:28] #3754 closed

[2020-05-10 19:50] Lukas458 opened #3854 "add insurance=health for some "Krankenkasse"-presets in germany"
In Germany, there are presets for "AOK", "DAK Gesundheit" and "Techniker Krankenkasse" which are common health-insurance brands here. The tag insurance=health (https://wiki.openstreetmap.org/wiki/Tag:insurance%3Dhealth) is used not so often, but specifies those insurance offices which are specialized (only) on health insurances. On the tagging-mailing list, people said it would be a good purpose t

[2020-05-11 06:09] Bingo67 opened #3861 "Add Barmer Ersatzkasse"
the name of the brand is Barmer Ersatzkasse
it is a health insurance in Germany
category office/insurance
brand:wikipedia=de:Barmer Ersatzkasse
brand:wikidata=Q808361

[2020-05-11 10:05] UKChris-osm commented on #3861
Hi @Bingo67,

I've added "Barmer" via [60f8bcf](https://github.com/osmlab/name-suggestion-index/commit/60f8bcf6a33c1c7706d4fc1dcba69d2609e0ca0e), as the single word "Barmer" seems to me mostly used as the brand.

If you disagree let me know with more info if you can.

As a heads up, the Wikidata you suggested had some out of date information on it (web site, email, social media links) so if you're

[2020-05-11 10:05] #3861 closed

[2020-05-11 11:03] Bingo67 commented on #3861
Hi UKChris-osm,

thank you for the quick response. Barmer instead of Barmer Ersatzkasse is ok.
Next time i will edit wikidata if i have the missing information.

[2020-05-11 19:37] BARICISSE commented on #3741
is this still open ? I am available to work on it.

[2020-05-15 20:05] bhousel commented on #3854
Thanks for raising this, it's a good suggestion..

We currently have 74 entries under `office/insurance` (57 of which are complete with wikidata and social links). I think it would be great to eventually have all of them tagged with the `insurance=*` tag, and raise a warning if the sub tag is missing (similar to what we do now with tags like `cuisine` and `vending` etc).

[2020-05-15 20:10] bhousel commented on #3800
Thanks, I agree this flag might be useful, but with caveat that "dissolved" is kind of messy data currently.  @Adamant36's comments above are spot-on.  A brand is marked this way if it has an end_date property on wikidata.  It would be good to surface this on https://nsi.guide somehow.

#3154 has some thoughts on the limitations of "dissolved" in this index.  We currently have many brands that sho

[2020-05-17 15:53] #3576 closed

[2020-05-20 03:49] HubMiner opened #3879 "Bulk edit: proposed to change bank to ATM if it has ATM in the name"
If a bank has "ATM" in the name, it is most likely an ATM (but not always!)

Overpass query:
amenity=bank and name~/\bATM\b/i
http://overpass-turbo.eu/s/Ubm

[2020-05-20 14:24] bhousel commented on #3879
Thanks @HubMiner  - This is a good suggestion and I agree with it, but this project isn't about doing bulk edits.  We're just building a list of brands, and it's up to other projects to decide what to do with this list.  If you want to do a bulk edit, you should read the [OpenStreetMap Automated Edits code of conduct](https://wiki.openstreetmap.org/wiki/Automated_Edits_code_of_conduct) and try to

[2020-05-20 14:24] #3879 closed

[2020-05-20 14:56] Eric-Sparks commented on #3702
I'm already seeing this in `electronics.json` file.

[code]

[2020-05-20 15:20] bhousel commented on #3702
Thanks @Eric-Sparks , looks like this was done

[2020-05-20 15:20] #3702 closed

[2020-05-20 19:20] Lukas458 opened #3880 "modify the "Tobaccoland cigarette vending machine" preset"
Hi,
I have some issues on the preset for cigarette vending machines of the operator "Tobaccoland", in Germany.

1. There is set brand=Tobaccoland, brand:wikidata etc. Don't you think it would be better to add this information with the "operator" key? "Tobaccoland" is only the company which operates the vending machines, but "Tobaccoland" is _neither_ the brand of the vending machine itself (in my

[2020-05-20 20:11] bhousel commented on #3880
All of the entries in this index currently need to have a `name`, and the index is seeded from objects from OSM that have that name.  In other words, if we have a Tobaccoland entry, it's because that feature already exists at least 50 times in OSM with `name=Tobaccoland` .  (I did look at the history and the Tobaccoland entry seems to have been in the index since [at least v1.0](https://github.com

[2020-05-21 02:21] Adamant36 commented on #3880
Tobaccoland is printed on the vending machines. So it's still a brand/name in the sense that people are mentally associating the location (the vending machines) with the name Tobaccoland. So, I don't see how it's any different then a regular shop. The semantic difference between a shop brand and a vending machine brand is kind of thin to a point anyway. At least as far we are concerned here IMO. W

[2020-05-21 21:20] matkoniecz opened #3883 "Monoprix in France and Monoprix in Tunisia appears to be a different Monoprix"
https://en.wikipedia.org/wiki/Monoprix
https://en.wikipedia.org/wiki/Monoprix_(Tunisia)
http://overpass-turbo.eu/s/UeU
https://github.com/osmlab/name-suggestion-index/blob/e08d46024350e492001c38f47f4a336e544a963d/brands/shop/supermarket.json#L3024

[2020-05-22 10:02] Lukas458 commented on #3880
I can see your point that people associate these vending machines with a brand, but not really with a name. Noone would say "I will go to Tobaccoland and buy some cigarettes". On many things the label of the brand or operator is printed, but if there is printed "National Bank" on an atm we also use operator (or maybe brand) for it, but not name. Furthermore, not on every vending machine "Tobaccola

[2020-05-22 15:34] bhousel commented on #3880
@Lukas458 please check with your local community how they want it mapped and let us know what they say.  I'm happy to remove it, but I'd prefer for a bit more discussion to take place rather than just relying on one person who saw a thing that they didn't like.

A lot of your statements sound like - your personal opinions about mapping.  We've seen that many people do map these tobaccoland machine

[2020-05-23 13:08] hanchao opened #3884 "Add country codes to Yoshinoya"
Yoshinoya (𠮷野家, TYO: 9861) is a Japanese multinational fast food chain, and the second-largest chain of gyūdon (beef bowl) restaurants. The chain was established in Japan in 1899. Its motto is "Tasty, low-priced, and quick".

Yoshinoya has a chain of stores in Japan, the United States, Hong Kong, Cambodia, China, Indonesia, Malaysia, Philippines, Singapore, Taiwan, and Thailand.

![img](https://up

[2020-05-24 13:24] natrius commented on #3880
It is getting discussed in https://forum.openstreetmap.org/viewtopic.php?id=69486 FYI

My opinion:
Nah, that would be the operator=*

On an ATM i also tag the `operator=Sparkasse` or whatever and not a `name=Sparkasse` - it just doesn't get an name. Also, comparing to a postal-box in america USPS is used approximately 5.800 times with `operator=*` ( https://taginfo.openstreetmap.org/tags/operator=

[2020-05-24 13:33] Adamant36 commented on #3880
You and the people in the discussion are missing the point in @bhousel's other comment though that there has to be something in the name field for it to have an entry in the index. So, there is no option where we just have entry with either the operator or brand tags, but completely void of a name.

[2020-05-24 17:06] #3880 closed

[2020-05-24 17:07] bhousel commented on #3880
Ok thanks @natrius and @Lukas458 for your comments.. I've removed it in 4c673e15

[2020-05-24 20:36] boothym opened #3885 "Move Poundworld to dissolved list, replace with OneBelow"
https://github.com/osmlab/name-suggestion-index/blob/e76b8c1b165f746d1cf5813f8d4a509f3f7a9d53/brands/shop/variety_store.json#L363

Closed in 2018 https://en.wikipedia.org/wiki/Poundworld

According to that, some were converted to OneBelow shops and there's a dozen of them in OSM just now. https://en.wikipedia.org/wiki/OneBelow

name=OneBelow
brand:wikidata=Q65079443
brand:wikipedia=en:OneBelow

[2020-05-24 21:11] boothym opened #3886 "Add Wren Kitchens [GB]"
brand/name=Wren Kitchens
shop=kitchen
brand:wikidata=Q8037744
brand:wikipedia=en:Wren Kitchens

[2020-05-25 09:43] sullivankevint commented on #2588
I can help with Spain :es:

[2020-05-25 13:32] UKChris-osm commented on #3886
You know, I could have sworn I already added Wren a while back, but thanks for the suggestion @boothym, added via [4a6bbe8](https://github.com/osmlab/name-suggestion-index/commit/4a6bbe80e6edba46a7742386e92d84f43cde23f4)

[2020-05-25 13:32] #3886 closed

[2020-05-25 13:49] UKChris-osm commented on #3885
Hi @boothym, just to let you know that I added OneBelow via [6176fed](https://github.com/osmlab/name-suggestion-index/commit/6176feded719c172118a8c9bf62743dc67d82413) back on the 16th May, although it may take a little time to filter into the iD Editor.

I think Poundworld should automatically appear in the dissolved list once a Wikidata script is run and the dissolved tagged (which I've just adde

[2020-05-25 13:49] #3885 closed

[2020-05-26 05:20] Adamant36 opened #3888 "Add Ono Hawaiian BBQ"
American Hawaiian BBQ restaurant chain. It needs a Wikidata entry.
https://www.onohawaiianbbq.com/

[2020-05-27 21:54] boothym opened #3889 "Add: Halfords (The Netherlands)"
Could someone please add service:bicycle:repair=yes to Halfords, as their shops do bike repairs as well.

I also noticed from an overpass turbo query that there are a number of Halfords shop in the Netherlands https://www.halfords.nl/ https://nl.wikipedia.org/wiki/Halfords

Wonder if these should have different wikidata and wikipedia to the UK & IRL shops?

[2020-05-27 22:52] SilentSpike commented on #3889
Do *all* of their shops do repair?

I think the NL brand is different, looks to have a different logo.

[2020-05-28 12:36] boothym commented on #3889
It seems like it - go to https://www.halfords.com/locations uncheck garage and pickup point, then search for some random locations - all the ones I've seen have bike repair listed under services.

[2020-05-29 10:19] Cj-Malone opened #3905 "Add internet tags to Premier Inn"
[Premier Inn](https://nsi.guide/index.html?k=tourism&v=hotel#Premier%20Inn) hotels have free wifi, would it be best to add the following to the template?
[code]

[2020-05-29 10:52] matkoniecz commented on #3905
Is it true for every single one?

[2020-05-29 10:56] Cj-Malone commented on #3905
[Yes](https://www.premierinn.com/gb/en/why/wifi.html)

They even say they use the same SSID, so that could be added as well.

[code]

[2020-05-29 12:20] overflorian commented on #887
Hi,
The "Poivre Rouge" restaurant is already existing cf. https://nsi.guide/index.html?k=amenity&v=restaurant#Poivre%20Rouge

I completed the wikidata page https://www.wikidata.org/wiki/Q7316076 with extra information.
I suggest to add the following tag:
[code]
That's it!

[2020-05-29 13:06] overflorian opened #3906 "New tag for "Poivre Rouge" restaurants"
Hi,
I republish a request I made on https://github.com/osmlab/name-suggestion-index/issues/887 because I don't know how to reopen that issue.

The "Poivre Rouge" restaurant is already existing cf. https://nsi.guide/index.html?k=amenity&v=restaurant#Poivre%20Rouge

I completed the wikidata page https://www.wikidata.org/wiki/Q7316076 with extra information.
I suggest to add the following tag:
`opera

[2020-05-29 13:56] bhousel commented on #3906
Thanks for reporting @overflorian  - we've gone back and forth a few times about whether to add `operator` tags for the name-suggestion-index entries.  Following https://github.com/osmlab/name-suggestion-index/issues/2816#issuecomment-505434193 we found that enough people were misusing the tag that it was easiest to just remove them for now.

I'm going to close this for now, but we might change it

[2020-05-29 13:56] #3906 closed

[2020-05-29 14:44] overflorian commented on #3906
OK, I read the comment, I understand why you guys took this decision and it sounds legitimate to me.
Good job by the way for this project that I discovered recently and that I will spend more time on during the following weeks. Regards

[2020-05-29 16:30] boothym opened #3907 "Add Strutt & Parker"
UK estate agent with 47 tagged in OSM.

  "office/estate_agent|Strutt & Parker": {
    "countryCodes": ["gb"],
    "tags": {
      "brand": "Strutt & Parker",
      "brand:wikidata": "Q7625458",
      "name": "Strutt & Parker",
      "office": "estate_agent"
    }
  },

[2020-05-29 16:32] boothym opened #3908 "Add Richer Sounds"
"shop/hifi|Richer Sounds": {
    "tags": {
    "countryCodes": ["gb"],
      "brand": "Richer Sounds",
      "brand:wikidata": "Q7330409",
      "brand:wikipedia": "en:Richer Sounds",
      "name": "Richer Sounds",
      "shop": "hifi"
    }
  },

[2020-05-29 16:35] bhousel commented on #3905
Seems fine, as long as we are sure that it's true for every one. 👍

[2020-05-29 18:17] ArenaL5 commented on #2909
These machines look really easy to exploit. But that's off-topic.

Obvious question to an old topic: did you try asking at the [US mailing list](https://lists.openstreetmap.org/listinfo/talk-us)? I think your chances of getting a useful answer are much better over there.

If you already did, could you leave a link? I couldn't find anything by searching for SAM, Samco or ATM at the [forum view](htt

[2020-05-29 18:22] bhousel commented on #3908
Thanks @g4rry420 , go for it!
Check out the [contributing guidelines](https://github.com/osmlab/name-suggestion-index/blob/master/CONTRIBUTING.md) for more details on what files to edit.

[2020-05-29 18:48] #3905 closed

[2020-05-29 18:53] g4rry420 commented on #3908
@bhousel  I have solved the issue. Please let me know if I have made any mistake in it. #3911

[2020-05-29 19:23] #3908 closed

[2020-05-29 19:36] bhousel commented on #3907
Sure, thanks!  On this project it's ok to just jump in - you don't need to ask permission 🙇

[2020-05-29 20:28] g4rry420 commented on #3907
@bhousel I have completed this issue. Please let me know if I have made any mistakes #3915

[2020-05-29 20:38] #3907 closed

[2020-05-29 22:24] boothym commented on #3907
@g4rry420 thanks for doing this, I'm looking through popular shop tags in the UK to find missing brands so I'll add some more later.

[2020-05-30 00:12] hanchao commented on #3884
![Uploading 83314488...]()

[2020-05-30 15:38] carstenhag opened #3916 "Add sobi Getränkemärkte as brand"
Hello, I noticed this chain of beverage shops is not available in the index yet. There is also no wikidata entry for it, sadly.

Default OSM tag, if possible:
* shop=beverages

Website: https://www.sobi.de/
Example node: https://www.openstreetmap.org/node/7572720316

[2020-05-30 16:56] numeropi opened #3918 "Supermarkets Charter are guessed incorrectly as 'Eroski' brand"
Hi, i was checking the http://osmose.openstreetmap.fr/es/map/#item=3130&class=31301&zoom=8&lat=40.707&lon=-2.896&level=1%2C2%2C3&tags=&fixable=

and realized that for many small town supermarkets named "Charter" here, it is suggested as the "Eroski" brand
"brand": "Eroski"
"brand:wikidata": "Q1361349"
"brand:wikipedia": "en:Eroski"

but "Charter" actually it is a franchise of the "Consum" brand.
"

[2020-05-30 17:33] UKChris-osm commented on #3918
Hi @numeropi,

I can see both "Eroski" and "Consum" in the NSI, and under "Eroski" is ""**matchNames": ["charter", "eroski center"],**", which means the NSI thinks Charter is the same as Eroski.

So, just to confirm with you, are you saying that "**Charter**" is a supermarket brand in its own right, with its own shops, and is owned by "Consum", and that it does not have any association with "Erosk

[2020-05-30 19:50] UKChris-osm commented on #3918
I have removed the matchNames for "_Charter_" in the "_Eroski_" entry via [6fbaf03](https://github.com/osmlab/name-suggestion-index/commit/6fbaf036d4ef38a3332457a4fc2ee374c3a01c21) and added a basic entry for "_Charter_" (with no Wikidata) in its own right [40fee65](https://github.com/osmlab/name-suggestion-index/commit/40fee65661080c9e85681ce6d3a835f62e67a2b1)

[2020-05-30 20:04] UKChris-osm commented on #3918
Added Wikidata for "Charter" via [34381e8](https://github.com/osmlab/name-suggestion-index/commit/34381e845714e9933d3e185c1b3609c1600a6557).

[2020-05-30 20:24] UKChris-osm commented on #3918
Do let me know if you think further changes might be required @numeropi, but for know I'll close this :)

[2020-05-30 20:24] #3918 closed

[2020-05-31 03:25] Eric-Sparks commented on #3439
I just filed pull request #3923 to fix this issue.

[2020-05-31 09:29] UKChris-osm commented on #3889
The Halfords web site shows "_424_" retail stores in total on the locations page, and when using the "_byicycle repair_" filter this remains at "_424_", which to me confirms they do bicycle repair in all stores.

[2020-05-31 09:36] UKChris-osm commented on #3889
Halfords in The Netherlands used to be part of the Halfords UK brand, but is now a separate company, and so should have its own entry in the NSI.

Looking at it though, I get the feeling they are more of a bicycle retail chain that also does car parts, compered to the UK chain that's more of a car parts retailer with cycling as an added extra.

[2020-05-31 19:33] boothym opened #3924 "Add Save the Children charity shop"
"shop/charity|Save the Children": {
    "countryCodes": ["gb"],
    "tags": {
      "brand": "Save the Children",
      "brand:wikidata": "Q215934",
      "brand:wikipedia": "en:Save the Children",
      "name": "Save the Children",
      "shop": "charity"
    }
  },

[2020-05-31 19:33] boothym opened #3925 "Add National Tyres and Autocare"
"shop/car_repair|National Tyres and Autocare": {
    "countryCodes": ["gb"],
    "tags": {
      "brand": "National Tyres and Autocare",
      "brand:wikidata": "Q6979055",
      "brand:wikipedia": "en:National Tyres and Autocare",
      "name": "National Tyres and Autocare",
      "shop": "car_repair"
    }
  },

Not sure if you can also create a match for the shorter name "National Tyres"?

[2020-05-31 21:04] boothym opened #3926 "Scotmid"
This is a co-operative which is independent of the bigger Co-op Food, based in Scotland with over 100 uses in OSM.

https://en.wikipedia.org/wiki/Scotmid

Most are tagged as just Scotmid but shops are branded Scotmid coop or SCOTMID co-operative - maybe the latter name can be tagged as full_name or operator etc?

Like the Co-op, this should be for both shop=convenience and supermarket as it depend

[2020-06-01 07:48] Adamant36 commented on #3889
I'm not sure adding a bicycle repair tag is a good idea. Since it doesn't seem like all their locations provide the service. Otherwise, they wouldn't have a filter for it in their location search to find ones that do.

[2020-06-01 07:56] UKChris-osm commented on #3889
I'll happily remove it if it's deemed not suitable @Adamant36

However, I am confident all the Halfords shops listed as "shop/car_parts" do have bicycle repairs, based on the filter.

The Halfords web site lists both general Halfords shops, and the "Halfords AutoCentre", which is why I think the filter exists. I first removed all "Autocentres", which listed the remaining general Halfords stores as

[2020-06-01 08:07] #3924 closed

[2020-06-01 08:27] UKChris-osm commented on #3925
Another one which I thought was already in the index, thanks again @boothym :)

[2020-06-01 08:27] #3925 closed

[2020-06-01 09:42] Adamant36 commented on #3889
It seems that the UK shop/car_parts|Halfords brand is already tagged with service:bicycle:retail. This whole namespace thing is non-nonsensical and redundant.

So, add it for the car parts shops and not the repair ones, I guess. Although, I find it hard to believe you couldn't walk into an auto center and have them pump up your tube, or use a wrench to tighten something on it if you asked to. Espe

[2020-06-01 09:52] Adamant36 commented on #3889
They should really just extend the amenity=bicycle_repair tag to include shops.

[2020-06-01 12:25] UKChris-osm commented on #3889
I don't really have a definitive opinion either way, so sorry if my view below isn't overly helpful.

I always did think that the NSI was really about names, key/value type & brand only (and previously operator), and so extra tagging wasn't something I thought was really done, but after seeing the [Premier Inn Wifi](https://github.com/osmlab/name-suggestion-index/pull/3910) tags added, and seeing

[2020-06-01 14:52] Adamant36 commented on #3889
Well, I didn't see that PR until just now and it's not one that I personally would have merged. I'm picker then a lot of people though. Plus, I can afford to burn through some social capital, that others can't or don't want to, by not merging everything.

Well, at least you have confirmation from them about it. My main issue is not trusting a search box. We have less room for error then a random c

[2020-06-01 16:09] #3854 closed

[2020-06-01 18:37] #3439 closed

[2020-06-01 18:43] numeropi commented on #3918
Here you can see that Eroski owned Consum untill 2004: https://www.consum.es/en/history , but then Consum got out from Eroski, and Charter is now the franchise of Consum.

Charter does not have his own wikipedia article, but Consum does, in spanish, where you can the reference to Charter: https://es.wikipedia.org/wiki/Consum

[2020-06-02 03:09] luisluigi639 opened #3929 "Fix Wikidata ID"
Please fix the amenity/fast_food|Good Times Wikidata ID to the correct Wikidata ID: Q5583024.

Right now it is linked to the Culver's Wikidata which it has no relation to.

[2020-06-02 11:46] #3929 closed

[2020-06-02 11:46] ArenaL5 commented on #3929
I just fixed it now. Thank you!

[2020-06-02 12:04] ArenaL5 commented on #3883
The French Wikipedia has a disambiguation page: https://fr.wikipedia.org/wiki/Monoprix

Someone who actually speaks French may confirm this: apparently Monoprix (Tunisia) has splintered off Monoprix (France), but it's legally distinct, and has different investors.

[Currently they share logo](https://fr.wikipedia.org/wiki/Monoprix_(Tunisie)#Identit%C3%A9_visuelle) and name. Also, the website in wi

[2020-06-02 12:38] ArenaL5 commented on #3604
Given that they have both shops with no beauty saloons, and beauty saloons with no shop, I went ahead and created a `brands/shop/cosmetics.json`. I also added `nomatch` tags.

[2020-06-02 12:38] #3604 closed

[2020-06-02 14:33] ArenaL5 commented on #3884
Yoshinoya already exists in the index, but it's only listed in Japan:

https://github.com/osmlab/name-suggestion-index/blob/b9c5ddec24e173b3e544148b8db360a2ad993c3f/brands/amenity/fast_food.json#L4297-L4312

You're right we should add those other countries, not only China. Why don't you create a PR to add them?

You can have a list of country codes as seen in point 3 of [:convenience_store:   Add

[2020-06-02 16:56] #3734 closed

[2020-06-02 17:51] camelCaseNick opened #3930 "StadtRAD Hamburg [potentially out of scope]"
StadtRad Hamburg stations (`amenity=bicycle_rental`) are tagged with

    brand=StadtRAD Hamburg
    brand:wikidata=Q2326366
    brand:wikipedia=de:StadtRAD Hamburg

among others (notably `network:*` and `operator:*`) after a brief discussion in the local community. [[1]](https://lists.openstreetmap.de/pipermail/hamburg/2019-November/001316.html)

As the individual stations have names and those ar

[2020-06-02 19:05] luisluigi639 opened #3931 "Fix amenity/fuel|Applegreen"
There is a need to add the country codes of the UK, US, Ireland.

Also, the addition of the Wikidata ID which is: Q7178908

Lastly add the Wikipedia link of en:Applegreen

[2020-06-02 19:23] luisluigi639 opened #3932 "Add King Soopers Fuel Station"
"amenity/fuel|King Soopers"
"countryCodes": ["us"]
"amenity": "fuel"
"brand": "King Soopers"
"brand:wikidata": "Q6412065"
"brand:wikipedia": "en:King Soopers"
"name": "King Soopers"
"official_name": "King Soopers Fuel Station"

This addition is for the grocery store that have a fuel station.

[2020-06-02 19:51] tas50 commented on #3932
@luisluigi639 Can you open a PR to add this one?

[2020-06-02 20:16] luisluigi639 opened #3933 "Move shop/supermarket|Bodega Aurrera Express"
Bodega Aurrera Express is more of a convenience store type store like 7-Eleven so it would be recommend the move to the Convenience store category.

Also, add the following tags:
"brand:wikidata": "Q3365858"
"brand:wikipedia": "en:Bodega Aurrerá"

[2020-06-02 20:33] ArenaL5 commented on #3931
Thank for you helping. I remember solving the first issue you posted here hours ago.

May I interest you in making a pull request? You'd be able to fix things yourself, and we'd only have to approve your fixes. It would be quicker for you and for us.

The first step is using the Fork button in the upper-right corner, to create a copy of the project. After that, you can click the pencil icon at htt

[2020-06-03 01:32] luisluigi639 commented on #3931
I think I did the pull request. So far I have no questions.

[2020-06-03 02:00] luisluigi639 commented on #3932
@tas50 I have opened a pull request for this issue.

[2020-06-03 02:25] bhousel commented on #3930
Thanks @camelCaseNick  - Its definitely a good issue to keep in mind for future development, even though we can't easily support features with variable names or `operator`/`network` tags yet.

[2020-06-03 02:34] tas50 commented on #3932
I missed that. Thanks for the PR

[2020-06-03 02:34] #3932 closed

[2020-06-03 02:35] tas50 commented on #3931
Closing this out. Feel free to open it back up @ArenaL5 if there's more to do here.

[2020-06-03 02:35] #3931 closed

[2020-06-03 02:36] bhousel commented on #3931
Thanks @luisluigi639 👍

[2020-06-03 02:37] bhousel commented on #3931
A cool GitHub tip for future PRs - you can include some text like "closes #3931" in your commit message or pull request, and GitHub will close the issue for us automatically when it merges. 💪

https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords

[2020-06-03 02:44] bhousel commented on #3162
☝️  FYI, I'm planning to do this in the next few days.  This approach has worked pretty well in the [osm-community-index](https://github.com/osmlab/osm-community-index/) and [imagery-index](https://github.com/ideditor/imagery-index) projects.

This is why I'm trying to clear out all the outstanding PRs.  This change will affect how we store `countryCodes` and will be breaking across all the files.

[2020-06-03 03:12] hanchao commented on #3884
I create PR https://github.com/osmlab/name-suggestion-index/pull/3935

[2020-06-03 03:29] #3884 closed

[2020-06-03 09:41] ArenaL5 commented on #3931
I can't think of anything, you already merged it for me.

@luisluigi639, we'll keep giving tips in the future so your future PRs will become perfect. :slightly_smiling_face: This was good.

[2020-06-03 16:44] #3933 closed

[2020-06-04 20:28] boothym commented on #3889
This PR was only ever about the car parts shops 😉

Not really, the issue with Halfords is that a large chunk of its business is bicycles, so there needs to be a way to indicate that in OSM so long as we don't want it tagged shop=car_parts;bicycle.

[2020-06-05 01:30] Adamant36 commented on #3889
I know. Its called agreeing/discussion. I'm not sure what the issue with either is.

Really? and here I thought this issue was something completely unrelated to OpenStreetMap or bicycle.

Anyway, no one ever floated using shop=car_parts;bicycle instead of the service namespace. What we usually do in those instances is use two seperate entries. So for example gas stations with convience stores or d

[2020-06-05 19:05] Cj-Malone commented on #3473
I would drop the names, I don't think they are universal eg some Morrisons have "Market Street" cafes and some just have "cafes". And then is "Asda Cafe" a description? in which case OSM doesn't want it.

User agents of OSM data should probably display the `name` and when that isn't available `brand` + " cafe", I think it's the same for fuel stations, `name` isn't necessary.

I would also drop cui

[2020-06-08 04:53] Adamant36 opened #3940 "NPM Run Build location-conflation error"
After I pulled the few updates that added support for the location-conflation thing I'm now getting an error that the module can't be found. Can someone check and see they are getting the same error on their side when running the build script so I know it's not something with my setup?
@bhousel

![Annotation 2020-06-07 214937](https://user-images.githubusercontent.com/30259065/83993758-3cea2880-a9

[2020-06-08 05:26] bhousel commented on #3940
You need to `npm install` again to get it ..

[2020-06-08 05:48] Adamant36 commented on #3940
Thanks. That fixed it.

[2020-06-08 05:48] #3940 closed

[2020-06-08 11:46] bhousel commented on #3162
But I didnt actually do the thing the issue is about yet

[2020-06-08 12:34] Cj-Malone commented on #3473
Is that an NSI or OSM requirement?

But plenty don't really have names, just brands or operators, they are also completely valid.

I'm not saying there shouldn't be a cuisine tag, this proposal said `cuisine=coffee_shop` for all supermarket cafes. I think that is inaccurate. I also don't believe there is a universal cuisine for all Asda cafes as the menus I linked shows. One is just drinks, the ot

[2020-06-08 14:40] bhousel commented on #3473
It's a hard requirement in NSI currently.  It's strongly encouraged in OSM.

[2020-06-08 14:42] Adamant36 commented on #3162
My bad. I thought you did.

[2020-06-08 14:53] Adamant36 commented on #3473
That seems to like more to do with different formats at different locations then a particular store changing its menu frequently. It looks like from the list most are  "Traditional Café." At least that's what they call them. We could also create a few different entries if need be. We need still need to pick an appropriate tag anyway and it seems like there might not be a one tag fits all option as

[2020-06-08 17:17] overflorian opened #3946 "Cinéma "Les Écrans de Paris""
I request to add the "Les Écrans de Paris" cinema network in France with the associated tags:

- amenity=cinema
- brand:wikidata=Q3236510
- brand:wikipedia=fr:Les Écrans de Paris

Thanks

[2020-06-08 23:25] gendy54 opened #3949 "FR: Add MK2 (French cinema chain)"
Hello,

Country code: FR (only)
"amenity": "cinema"
"brand": "MK2"
"brand:wikidata": "Q19814222"
"brand:wikipedia": "fr:MK2"
"name": "MK2"

[2020-06-08 23:29] gendy54 opened #3950 "FR: Add Cinéville (french cinema chain)"
Hello,

Country code: FR (only)
"amenity": "cinema"
"brand": "Cinéville"
"brand:wikidata": "Q2973271"
"brand:wikipedia": "fr:Cinéville"
"name": "Cinéville"

[2020-06-08 23:40] gendy54 opened #3951 "FR: Add Majestic (french cinema chain)"
Hello,

Country code: FR (only)
"amenity": "cinema"
"brand": "Groupe Majestic Cinemas"
"brand:wikidata": "Q19945144"
"brand:wikipedia": "fr:Groupe Majestic Cinemas"
_"name": "Majestic"_

For name tag, there are different names on the wikipedia page so I don't know if it's relevant.
Furthermore some cinemas have this name but are not part of the group

[2020-06-09 12:03] overflorian opened #3958 "FR: Add Haut et court (french cinema chain)"
Hello,

Country code: FR (only)
"amenity": "cinema"
"brand": "Haut et Court"
"brand:wikidata": "Q3128481"
"brand:wikipedia": "fr:Haut et Court"

[2020-06-09 17:10] overflorian opened #3959 "FR : Add Utopia (french cinema chain)"
Hello, could you please add:

Country code: FR (only)
"amenity": "cinema"
"brand": "Utopia"
"brand:wikidata": "Q3552766"
"brand:wikipedia": "fr:Utopia (cinéma)"

[2020-06-10 06:16] fansanelli opened #3967 "IT: Sella Bank / Banca Sella"
Hello,

I have a question about the preset in subject: are the English version of name and brand really necessary?
Do this bank exists abroad (not just as an office or group of banks) with the "Sella bank" name?
Is there a guideline to follow in this case?

Many thanks
Cheers
Francesco

[2020-06-11 03:21] Adamant36 commented on #3967
It depends. Usually the English name is only needed for none Latin derived languages so we can tell what the entry is. In this case, it looks like there is or was a [Sella Bank](https://www.bloomberg.com/profile/company/4071492Z:SW) in Switzerland. Maybe the English name is because of or confusion with that. While it looks like there are none of this bank mapped in Switzerland it doesn't mean ther

[2020-06-11 05:09] fansanelli commented on #3967
Dear @Adamant36

thanks for replying.
My only concern is about over-tagging a bank when is not needed and I think that if it doesn't exist an abroad counterpart we should get rid of the tags...
I'm not against the English name, but I am afraid that it doesn't reflect the reality.

Thanks
Francesco

[2020-06-12 18:15] matthenschke commented on #3959
I'll make a pull request asap as this is my first ever pull request on open source.

[2020-06-12 18:31] matthenschke commented on #3959
Just created a pull request https://github.com/osmlab/name-suggestion-index/pull/3973

[2020-06-12 18:47] matthenschke commented on #3958
On it!

[2020-06-13 16:16] UKChris-osm commented on #3949
Merged via #3975.

[2020-06-13 16:16] #3949 closed

[2020-06-15 13:00] Cj-Malone opened #3979 "B&M UK"
I don't know how actionable this yet, more to discus the different B&M store types. In B&M language they have B&M Store, B&M Home Store, B&M Home Store with Garden Centre and B&M Express.

## B&M Store
Seems to operate with 2 fascia.

Just says "b&m" [example](https://www.bmstores.co.uk/stores/isle-of-wight-107).
Currently in [nsi](https://nsi.guide/index.html?k=shop&v=variety_store#B&M) but missi

[2020-06-16 04:09] aayush-vish commented on #3950
Hey I want to contribute in this project.

[2020-06-16 05:36] BillNas commented on #3951
On it!

[2020-06-16 22:41] maxerickson opened #3988 "Walmart Canada"
The stores are named "Supercentre", for example https://www.walmart.ca/en/stores-near-me/kemptville-supercentre-1047

Any reason there shouldn't be a country limited entry?

[2020-06-17 13:49] bhousel commented on #3988
No reason.. We can make a separate entry for Canada.

[2020-06-18 11:49] UKChris-osm opened #3990 "nsi.guide - future plans"
Over on the now closed PR #3770 a couple of issues have come up, and decision has also moved on to the future of the web site, so I thought rather than keeping that discussion going in a closed PR, I would open up a new issue.

Some of the ideas for nsi.guide include:

- Extra consideration for colour blindness when it comes to the current red, yellow, green markers.
- Using locations to limit the

[2020-06-18 13:59] UKChris-osm commented on #3990
One thing I am curious about, is the web site hosting for [nsi.guide](https://nsi.guide)

Currently I think it's just on GitHub Pages, which doesn't provide any form of server side abilities (scripting, SQL, etc) but is there any possibility of using the same hosting that OSM uses (for example, https://nsi.openstreetmap.org/) to allow for a more dynamic, more ingirted web site?

[2020-06-18 14:20] bhousel commented on #3162
Hey @lionirdeadman I'd like to close this issue now that we have the ability to limit a brand to a sub-country region.  Is it correct to say that these brands should be in French only in Quebec?

[2020-06-18 14:31] bhousel commented on #3990
Yes it's just GitHub Pages for now, and I think that works ok - I can't think of anything that we would need a server for.  I'd prefer to keep this project distinct from OpenStreetMap for now.

[2020-06-18 15:57] UKChris-osm commented on #3990
I was thinking of things like enabling a user to submit a brand idea, with Wikidata / Wikipedia values, without them having to know how to use GitHub or requiring a GitHub account, such as using an HTML Form to submit the data, and have the server side add that data to a file (submissions.json or something) so that the NSI project could process those suggestions in batches.

[2020-06-18 16:38] lionirdeadman commented on #3162
That is correct, `name=*` should be French-only. (I assume `name:en=*` remains unchanged)

[2020-06-18 16:55] JackRosenblatt1 commented on #3950
Made a pull request! #3991

[2020-06-18 19:17] #3950 closed

[2020-06-18 19:18] #3946 closed

[2020-06-18 19:18] #3951 closed

[2020-06-18 19:18] #3741 closed

[2020-06-18 20:45] bhousel commented on #2714
This was done!  from the updates to the contributing guide:

---

Each entry requires a `locationSet` to define where the entry is available.  You can define the `locationSet` as an Object with `include` and `exclude` properties:

[code]

The "locations" can be any of the following:
* Strings recognized by the [country-coder library](https://github.com/ideditor/country-coder#readme). These should

[2020-06-18 20:45] #2714 closed

[2020-06-18 20:51] bhousel commented on #2714
Examples:
- [Isle of Man](https://ideditor.github.io/location-conflation/?locationSet=%7B%20include%3A%20%5B%27im%27%5D%20%7D%0A)
- [Puerto Rico](https://ideditor.github.io/location-conflation/?locationSet=%7B%20include%3A%20%5B%27pr%27%5D%20%7D%0A)
- [Macau](https://ideditor.github.io/location-conflation/?locationSet=%7B%20include%3A%20%5B%27mo%27%5D%20%7D%0A)
- [Hong Kong](https://ideditor.githu

[2020-06-18 21:11] bhousel commented on #3162
@lionirdeadman - can you check that last commit c7373e4 ?
I split the national bank brand back into 2 entries:
- "National Bank" for all of Canada except Quebec
- "Banque Nationale" for just Quebec

Does this approach look alright?  If so, we can do this for the other brands you and @bkissin  mentioned.

[2020-06-19 00:33] lionirdeadman commented on #3162
That seems good. I'm not familiar with how the code works but it seems right to me. Although, I thought the ideal model would've simply had the nsi pick `name:en` or `name:fr` based on geolocation rather than keeping them duplicated?

[2020-06-19 13:44] Adamant36 commented on #3990
Maybe it could be done on iD Editors side. Like a form in the editor that would submit it to nsi.guide for one of us to deal with and create an entry for. I don't know how many times I've found a new brand while editing, made a note of it in my note taking app, and then never created an issue or PR for it.  So something like that would be really useful IMO. Especially if the entry could be auto-ge

[2020-06-19 15:57] bhousel opened #3995 "Rethinking identifiers"
I'd like to make some changes in the index to better support more kinds of named POIs and more granular locations.  This is just a brain dump of some thoughts on how we track brands and the limitations with our current approach.

### a long time ago

When this project started many years ago, each entry in NSI was just a unique name that we picked out of the OSM planet file.
For example, here's wha

[2020-06-21 01:19] Adamant36 commented on #3774
I know facility:radiology_labs is the moat used "radiology" tag by a long shot.

[2020-06-22 17:02] dieterdreist commented on #3967
I have found an edit where the object had just 2 tags: name and amenity=bank. A well meaning mapper has added a lot of repetitive tags which IMHO hardly add anything to the object. They added name:it (in Italy), name:en (the Bank does not have an English name, it is a useless translation because you can find this translated name nowhere), a brand (same as name), a brand:it (again the same), a bran

[2020-06-22 17:35] bhousel commented on #3967
@Adamant36 it looks like you added these tags in e782cc72 - are you ok if I remove them for this Bank?

I think for now it's valuable to have the multilingual tags on the brands where we maintainers can't read the language (for example `"name": "日本銀行", "name:en": "Bank of Japan", "name:ja": "日本銀行"`) - and we can maybe avoid this after #3995 - but we don't really need transliterated names for Itali

[2020-06-22 21:19] dieterdreist commented on #3967
Transliterated brands may have a reason, translated brands don’t. A brand is a brand, if you see a brand you can recognize it, but if it’s translated you only recognize it well if you speak the language, as an English speaking person you would be better of with the Italian brand when you were looking for the bank, because the English version does not exist. Have a look at wikipedia:en, they do not

[2020-06-23 01:20] Adamant36 commented on #3967
Personally, I don't care if the English is removed. I had planned to do it myself after I researched if the bank in Switzerland was owned by the same company or not. I never got around to it though and it's not like another English entry can't be created if it is.

I take issue with the insinuation that it was just an off the cuff random translation for no though when I said in my last comment tha

[2020-06-23 03:52] Adamant36 commented on #3967
I modified it in 6e565b8. It's worth mentioning that sometimes IMO it's better to go with the English Wikipedia article even if it's technically the "wrong" language because a lot of times articles in other languages unfortunately just aren't that developed. If it's between a stub article in the "native" language or a well developed one in English that web browser can translate anyway I much rathe

[2020-06-23 05:17] fansanelli commented on #3967
@Adamant36 thanks for your change. I would remove the "name:it" and "brand:it" too as the only language is Italian now...
About the Wikipedia tag I think will be deprecated with the wikidata growing, so I don't mind to swap the English with Italian ones.
Just to be clear, @dieterdreist wrote about a similar issue (Banca Di Sondrio): can we apply the same rule of translations vs transliteration and

[2020-06-23 07:27] dieterdreist commented on #3967
I don’t understand why Italian bank brands have gotten translated, but for example German bank brands haven’t. There is (rightfully) no “German Bank” suggestion for “Deutsche Bank” and no “Popular Bank Berlin” for “Volksbank Berlin”. This is not about a single Italian bank, it is a systematic problem with Italian banks (and apparently Spanish banks as well).

[2020-06-23 08:29] Adamant36 commented on #3967
Some of that was due to ignorance on my part when I first contributed to the project back in like the end of 2018 when @bhousel first started asking people to contribute and there was no guidance on at that point. There was like a couple of thousand issues that I was trying to go through quickly though so they would just be done with and that's how I choose to it. Because again, there wasn't sayin

[2020-06-23 08:42] Adamant36 commented on #3967
BTW, I also seem to remember that at one point there was an issue where some QA tool would throw up an error if there was an entry like name=whatever + name:it=whatever without there also being name:en=whatever. If I'm remembering correctly some of the English tags were added because of that.

[2020-06-23 09:22] dieterdreist commented on #3967
sent from a phone

AFAIK there was not a clear decision about wikidata and wikipedia WRT one of them being redundant (which they may well be in general), but as you can get a wikidata item for any wikipedia article automatically, and wikipedia values are human readable, one could argue as well to remove wikidata tags as less appropriate for OpenStreetMap.
FWIW, it seems less desirable to automatic

[2020-06-23 10:09] Adamant36 commented on #3967
IMO "better" is highly subjective and dependent on where in the world your talking about. Especially when the equation is between something done manually versus being automated. Nothing is completely error proof, but in my experience less errors are created by these things being automated (even with issues like this) then there would be if this was done manually. If it ever would be done manually

[2020-06-23 10:44] Adamant36 commented on #3967
One possibility might be to use the location conflation tool to exclude locations where the brands tagging is already "upgraded."

[2020-06-23 10:52] dieterdreist commented on #3967
sent from a phone

names are a highly sensitive topic and should be changed only by people knowing the situation on the ground and the language. The case I have given as an example is a good example how an error (typo in english name/brand) gets multiplied by automatic tagging.
There are now 2x18 https://taginfo.openstreetmap.org/search?q=Popular+Bank+of+Sandrio#values

Last year I have fixed hund

[2020-06-23 12:01] Adamant36 commented on #3967
I'd love to see some data about if people on the ground, or who speak the language, makes less mistakes then a preset does. I just don't think that data exists though. I know it's something that sounds true intuitively, but a lot of things that are wrong (or at least not very sound) do. There are POIs all over the place that have wrong names added to them by locals, who really should have known be

[2020-06-23 12:53] dieterdreist commented on #3967
sent from a phone

of course the local mappers make mistakes, individual mistakes, not systematic mistakes.

[2020-06-23 13:17] bhousel commented on #3967
Good morning - just would like to remind everyone to keep your comments concise, leave actionable feedback, avoid strong opinions about tagging, and assume good intent.  This thread feels like it's gone off topic, and I can't really follow it.

I'll remove some of the translated names for the Italian POIs and close this issue.

[2020-06-23 13:31] #3967 closed

[2020-06-23 15:49] fansanelli commented on #3967
@bhousel I had a similar patch, for Italy everything seems fine. Thanks.

[2020-06-28 10:50] overflorian opened #4006 "FR : Add Megarama (french cinema chain)"
Hello, could you please add:

Country code: FR (only)
"amenity": "cinema"
"brand": "Megarama"
"brand:wikidata": "Q96707027"

[2020-06-29 15:11] overflorian opened #4007 "FR: change wikipage for Pathé Gaumont cinemas"
Hi,
The wikipedia page of Pathé Gaumont has changed. It's now https://fr.wikipedia.org/wiki/Les_cin%C3%A9mas_Path%C3%A9_Gaumont

My request is about an existing cinema chain: https://nsi.guide/index.html?k=amenity&v=cinema#Path%C3%A9%20Gaumont
Could you please change it for:
"amenity": "cinema"
"brand": "Pathé Gaumont"
"brand:wikidata": "Q3060526"
**"brand:website": "https://www.cinemaspathegaumon

[2020-06-29 21:49] tntchn opened #4008 "For a shop both cafe and bakery"
Few days ago when I mapping a bakery/cafe (85°C bakery cafe) nearby my home, I found that the brand is classified as cafe without shop=bakery. And when I checked the cafe.json I found that none of the cafe have shop=bakery tag.

https://github.com/osmlab/name-suggestion-index/blob/77d562ae9c14e42460b10dc8fcdadeb527003453/brands/amenity/cafe.json#L24-L37

Then I found Paul, a French bakery branch.

[2020-06-30 12:49] sucrerouge123 opened #4009 "Add brand: WIND mobile phone stores in Greece"
Hi!

I would like to request the addition of Wind mobile telecommunications chain stores in Greece.

shop:mobile_phone
name:WIND
brand:WIND Hellas
brand:wikidata:Q10711016
brand:wikipedia=el:WIND Hellas
country codes:gr

Thanks!

[2020-06-30 12:52] sucrerouge123 opened #4010 "Add brand: Cosmote mobile phone stores in Greece"
Hi!

I would like to request the addition of Cosmote mobile telecommunications chain stores in Greece.

shop:mobile_phone
name:Cosmote
brand:Cosmote
brand:wikidata:Q1136203
brand:wikipedia=el:Cosmote
country codes:gr

Thanks!

[2020-06-30 15:20] bhousel commented on #4008
This relates to PR #4005 and Juan Valdez Cafe too.  There are no perfect answers to these questions, but I will try to explain my thinking about what the tags mean.

We mostly try to assign a single `amenity` or `shop` tag because these tags imply different things.

`amenity=cafe` - you place a drink order, someone makes it for you, there is seating if you want to stay
`shop=bakery` - you buy your

[2020-06-30 20:04] bhousel opened #4011 "Unfilter SB Tank"
It looks like SB Tank is an actual gas station and not a generic name.
https://sb-tank.com/

We should remove it from the filters.json so iD users don't get warned that it is a "suspicious name".
https://github.com/osmlab/name-suggestion-index/blob/4420f4775fa6b1b85d6cb76ebb2ad2ae14e3fc18/config/filters.json#L375

re #548

[2020-06-30 20:11] #4011 closed

[2020-07-02 14:20] Thusal06 commented on #4006
I did it.

[2020-07-02 15:19] overflorian commented on #4006
Thanks. Could you please tell me when it will be live in name-suggestion-index ?

[2020-07-02 15:22] Thusal06 commented on #4006
Uh... I just made the changes and pull request.

[2020-07-02 15:23] Thusal06 commented on #4006
Sorry, I can't understand.

[2020-07-02 15:30] overflorian commented on #4006
Thanks again. I wonder when will "Megarama" return a result in the search box of https://nsi.guide ? That's just for my information, thanks.

[2020-07-02 16:29] bhousel commented on #4006
This will appear on https://nsi.guide once we accept the pull request, then run `npm run dist`, and push a commit with the updated data files.

[2020-07-03 06:48] overflorian commented on #4006
OK thanks

[2020-07-04 09:18] sandygudie commented on #3712
I think all the generic names above have been removed

[2020-07-04 09:23] matkoniecz commented on #3712
No, for example https://github.com/osmlab/name-suggestion-index/search?q=Hair+Studio&unscoped_q=Hair+Studio

[2020-07-06 17:04] sandygudie commented on #3712
Hi there, how about the last two?

[2020-07-08 11:00] overflorian opened #4020 "Is "UGC" France only or does it also operate in Belgium?"
Hello, could you please add:
"amenity": "cinema"
"brand": "UGC"
"brand:wikidata": "Q1643241"
"brand:wikipedia": "fr:Union générale cinématographique"
"brand:website": "https://www.ugc.fr"

[2020-07-08 15:38] bhousel commented on #4020
Thanks!
but it looks like this cinema is already in our index:  https://nsi.guide/index.html?k=amenity&v=cinema#UGC

[2020-07-08 15:43] overflorian commented on #4020
Oops, sorry about that. I looked in the issues and couldn't find UGC but I did not look on the website.

[2020-07-08 15:48] matkoniecz commented on #3775
I will close this one as it is OK to map payment terminals. Thanks for being interested, but this specific idea would have unexpected consequences.

[2020-07-08 15:48] #3775 closed

[2020-07-08 15:49] bhousel commented on #4020
Probably worth mentioning that I tried running the overpass query for UGC  https://overpass-turbo.eu/s/VVf
It's weird that:
- there aren't any of these mapped in France
- there are a handful of them mapped in Belgium
- the Antwerp one has this Wikidata: https://www.wikidata.org/wiki/Q37936340
- that Wikidata seems to be just for that single theater in Antwerp
- but Belgian UGC seems to also be bra

[2020-07-08 16:04] overflorian commented on #4020
In France we are currently in the process of Q/A for all the cinemas of the country cf. https://wiki.openstreetmap.org/wiki/FR:Key:ref:FR:CNC#Cin.C3.A9mas_par_op.C3.A9rateur as much in OSM than in Wikidata.

Currently 36 UGCs over the 47 listed by the brand https://www.ugc.fr/cinemas.html are tagged brand=UGC cf. https://overpass-turbo.eu/s/VVk
I will complete this task in the following days.

The

[2020-07-08 16:50] bhousel commented on #4020
Thanks! That makes a lot of sense. We can close it.
We've done some brainstorming on #3990 and #3770 about the Overpass queries, so maybe we can improve this to make them less confusing.

[2020-07-08 16:50] #4020 closed

[2020-07-08 17:46] overflorian commented on #4020
OK, I'm sure the result should be great.
Sorry I can't help: I'm real bad with overpass queries. Every time I seek for help!

Do you guys plan to add a proper form to add new brands instead of creating github issues? I can open a new issue for that it you think it makes sense.

[2020-07-08 18:08] bhousel commented on #4020
That's ok, adding an intake process is mentioned in #3990
I kind of like the GitHub issues though.

[2020-07-09 04:28] overflorian commented on #4020
OK, thanks. Will keep contributing to your great tool (and push to use it the future contribution tools I'll be developping).

[2020-07-09 09:38] matkoniecz commented on #3712
Hotel Belvedere researched and removed as nonbrand name

[2020-07-10 18:32] #3988 closed

[2020-07-10 18:33] #4009 closed

[2020-07-10 18:33] #4010 closed

[2020-07-10 18:34] #4007 closed

[2020-07-10 18:36] #4006 closed

[2020-07-10 18:37] #3959 closed

[2020-07-10 18:37] #3958 closed

[2020-07-10 18:53] #3926 closed

[2020-07-10 18:59] #3883 closed

[2020-07-10 19:16] bhousel commented on #3774
ok I moved it to `amenity/clinic.json`:
[code]

[2020-07-10 19:16] #3774 closed

[2020-07-10 19:19] #3763 closed

[2020-07-10 19:23] #3756 closed

[2020-07-10 19:44] #3712 closed

[2020-07-10 19:44] bhousel commented on #3712
I've done "Hotel de la Gare" - that should take care of all of them 👍

[2020-07-10 19:46] bhousel commented on #3703
Gonna just close this, it sounds like it wasn't very thoroughly researched..

[2020-07-10 19:46] #3703 closed

[2020-07-10 19:47] #3710 closed

[2020-07-10 19:51] bhousel commented on #3705
Apparently there is indeed a [Chili's in Germany](https://www.google.com/maps/place/Chili's/@49.4448165,7.599528,15z/data=!4m8!1m2!2m1!1sLawn+Avenue+Bldg+2140+435+SVS+%2F+SVBME,+Unit+3240+Box+535,+APO+AE,+66877+Ramstein-Miesenbach,+Rhineland-Palatinate+Germany!3m4!1s0x47960b322396b00b:0xa9c836e079dfaed7!8m2!3d49.4458179!4d7.6067796)  🌶️

[2020-07-10 19:51] #3705 closed

[2020-07-10 19:56] bhousel commented on #3440
Closing this - Thomas Cook appears in the dissolved file now that it is marked as such on Wikidata.

[2020-07-10 19:56] #3440 closed

[2020-07-10 20:01] bhousel commented on #3420
The work on https://github.com/osmlab/name-suggestion-index/issues/2714#issuecomment-646296593 unblocks us to being able to disambiguate the entries by their locationSet geometry instead of a string like "(IrelandAndUK)" .

Closing this issue in favor of #3995, which is the same idea.

[2020-07-10 20:01] #3420 closed

[2020-07-10 20:11] #3445 closed

[2020-07-10 20:54] #3461 closed

[2020-07-10 20:55] bhousel commented on #3461
I did this ☝️

[2020-07-10 20:58] bhousel commented on #3406
Closing - it's not in the index anymore..

[2020-07-10 20:58] #3406 closed

[2020-07-10 21:01] bhousel commented on #2591
Closing, since this has no wikidata anyway..

[2020-07-10 21:09] #2595 closed

[2020-07-11 21:35] Prince-Kassad opened #4027 "fast food "immergrün" has a typo"
The name for the German fast food chain "immergrün" is given as "immergün":

https://github.com/osmlab/name-suggestion-index/blob/608f3958281a6ea7761040582e70e832e01a08b9/brands/amenity/fast_food.json#L3598

This is an obvious typo that should be fixed.

[2020-07-12 19:11] Arthur092 commented on #4027
I can take this issue

[2020-07-12 19:33] Arthur092 commented on #4027
PR submitted #4029

[2020-07-12 20:24] bhousel commented on #4027
Thanks @Arthur092 👍

[2020-07-12 20:24] #4027 closed

[2020-07-15 07:26] krasnyekrylja opened #4031 "shop/convenience|Копеечка and shop/convenience|Доброном"
1. shop/convenience|Копеечка
1.1 OSM tag "brand:wikidata": "Q68207105" needs to be replaced by "brand:wikidata": "Q97346327";
1.2 link https://www.wikidata.org/wiki/Q68207105 needs to be replaced by https://www.wikidata.org/wiki/Q97346327;
1.3 Wikidata Name/Description "Kopeechka" should be added;
1.4 official website link https://www.dobronom.by/ should be added;
1.5 social link https://www.insta

[2020-07-15 13:22] bhousel commented on #4031
Thank you for the detailed report @krasnyekrylja and welcome to GitHub 👋

[2020-07-16 09:17] Cj-Malone opened #4034 "Is name required?"
Hello,

Harvester (amenity/restaurant|Harvester) is currently listed in NSI, however each instance should have a different name tag in OSM. The [website](https://www.harvester.co.uk/restaurants) demonstrates this.

Is it possible to remove `"name": "Harvester"` from NSI, or is that needed else where in this project?

[2020-07-16 15:26] bhousel commented on #4034
Yes #3009 has some background but for now a `name` is required.  If it's causing problems, we could just remove Harvester from the index for now - let me know if you want this and I'll remove it.

At some point we want to relax this requirement, it's on my list of things to consider for #3995

[2020-07-16 18:24] Cj-Malone commented on #4034
I've not witnessed any data being lost due to it, so I wouldn't remove it just yet.

Is there anything I can help with? I'm not a node developer, but I do have a basic understanding of js.

[2020-07-17 18:25] boothym opened #4035 "Storage rental brands"
Some shop=storage_rental brands in the UK.

"shop": "storage_rental"
"countryCodes": ["gb"],

"brand": "Big Yellow Self Storage"
"brand:wikidata": "Q4906703"
"brand:wikipedia": "en:Big Yellow Group"
"name": "Big Yellow Self Storage"

"brand": "Safestore Self Storage"
"brand:wikidata": "Q20713915"
"brand:wikipedia": "en:Safestore"
"name": "Safestore Self Storage"

"brand": "Lok'nStore"
"brand:wikid

[2020-07-18 07:07] TheAdventurer64 opened #4036 "Add Bedmart"
Zippy's is a fast food/restaurant chain. Wikipedia page here:
https://en.wikipedia.org/wiki/Zippy%27s

Aloha Island Mart is a convenience store for Aloha Petroleum. Wikipedia page here: https://en.wikipedia.org/wiki/Aloha_Petroleum

Costco Food Court is a food court for Costco. Wikipedia page here: https://en.wikipedia.org/wiki/Costco#Food_service

Costco Optician is a optician for Costco. Wikiped

[2020-07-18 07:14] TheAdventurer64 opened #4037 "Add Biki"
Biki is a bike share rental system chain in Honolulu. Wikipedia page not available.

[2020-07-18 07:21] TheAdventurer64 opened #4038 "Dave and Busters and Chuck E. Cheese should be tagged as an amusement arcade"

[2020-07-20 19:11] bhousel commented on #4038
Thanks @TheAdventurer64  - it looks like these brand entries already are set up with the correct tags:

https://github.com/osmlab/name-suggestion-index/blob/f971b8185a8a73c181baaa8d64326c4ea960e43a/brands/amenity/restaurant.json#L746-L758

https://github.com/osmlab/name-suggestion-index/blob/f971b8185a8a73c181baaa8d64326c4ea960e43a/brands/amenity/restaurant.json#L571-L584

[2020-07-20 19:11] #4038 closed

[2020-07-21 20:16] MASangys opened #4040 "Update https://github.com/osmlab/name-suggestion-index/releases to a newer version"
FYI, the iD editor just updated yesterday, seehttps://twitter.com/quincylvania/status/1285613343093424129. I am glad to see more improvement on this toll. But sadly, the NSI idex still same as the older version, so that means at lease 100 brands that had added recently cannot be utilise, unless the new release was out.  so I really hope that @bhousel or other person that manage to create a release

[2020-07-21 21:15] bhousel commented on #4040
iD still requires the presets to be built by the `build_data` script and saved to the `dist/` folder - so @quincylvania's tweet about the latest brand presets is a bit inaccurate.  They are still bundling v4.0.2 presets, and probably will for a while.

The next release of NSI will be a major bump v5 because the switch from countryCodes to locationSets is a major change.

[2020-07-21 21:15] #4040 closed

[2020-07-21 21:22] quincylvania commented on #4040
Oh whoops, I made an incorrect assumption here. Apologies!

[2020-07-22 13:56] bhousel commented on #4040
It's alright - we'll get there eventually.  The original plan was to spin off the presets after the imagery, and you know how that went.

[2020-07-22 14:58] MASangys commented on #4040
So may I know when is the exact date that iD got this latest NSI update? I just hope that it can be done ASAP as I will become buzy in August, and surely now got more times to rearrange the label tag via the iD editor. Anyway, your work are much appreciate

[2020-07-22 15:02] bhousel commented on #4040
We publish versions of this NPM and iD pulls automatically the most recent compatible one.  It looks like 4.0.2 is 3 months old.
https://www.npmjs.com/package/name-suggestion-index

I can't give you an exact date when the next release will happen because that will depend on things like how much time it takes to implement things, and whether I have the time.  The schedule for iD is even more up in

[2020-07-25 11:38] UKChris-osm commented on #3995
When it comes to the name, I think it would be handy to have a way to mark this up as being "unique", after the brand has been added!

For entries like JD Wetherspoon (#3009) and Harvester (#4034) where the brand is strong, but the pub / restaurant itself is often uniquely named, rather than removing JD Wetherspoon or Harvester, keep them as they are, because they are strong brands that I feel peo

[2020-07-25 11:44] UKChris-osm opened #4046 "Search Wikipedia - nsi.guide"
Is the link to "_Search Wikipedia_" on the [nsi.guide](https://nsi.guide) supposed to be linking to a Google search? Or was the intention to link to a Wikipedia search directly?

[2020-07-25 11:46] UKChris-osm commented on #4035
When you say surprised about UK Storage Company, was that because I have added in incorrectly?

[2020-07-25 15:01] UKChris-osm commented on #4035
Added the suggested brands via [012da7d](https://github.com/osmlab/name-suggestion-index/commit/012da7d9af96e663563109a17d0faf5af08e38dc)

[2020-07-25 15:01] #4035 closed

[2020-07-25 16:57] boothym commented on #4035
No it's added correctly, but normally what happens is popular brands already in OSM get added to the NSI, rather than them being added pre-emptively. I didn't check out their website out before but I see now there's a decent number so a good idea to have them in here.

Thanks for fixing this issue.

[2020-07-25 17:39] bhousel commented on #4046
I couldn't find a way to search all the multilingual wikipedias through their site, so I just the lazy thing and made it a google site search.

[2020-07-26 16:51] UKChris-osm commented on #4035
Ah I see, yes it was a case of I saw on their web site that they had a few sites across the UK and so decided to add it early on (and have since added a few around Somerset). There is one local to me and when I tried adding it I noticed it wasn't in the NSI - it's actually how a lot of my entries are found, by locally adding any business and seeing they aren't currently in the index.

[2020-07-28 07:37] d4i commented on #4031
I’m not sure where I can find [.](https://www.wikidata.org/wiki/Q68207105) . I checked the help docs and didn’t find any mentions.

[2020-07-28 07:38] d4i commented on #4031
I’m not sure where I can find [https://www.wikidata.org/wiki/Q68207105](https://www.wikidata.org/wiki/Q68207105) . I checked the help docs and didn’t find any mentions.

[2020-07-28 07:55] krasnyekrylja commented on #4031
![1](https://user-images.githubusercontent.com/68320304/88635740-b78d2400-d0c0-11ea-82ce-30446b2c48d5.PNG)

I see incorrect data and links, so I opened the question as indicated in the header. Maybe I don't understand something.

[2020-07-28 19:35] #4031 closed

[2020-07-29 18:26] 1ec5 commented on #3995
FYI, there are quite a few Wikidata items now linking to NSI using the [NSI identifier property](https://www.wikidata.org/wiki/Property:P8253). But the items can be bulk-updated (along with the property constraints) based on whatever decision we arrive at here.

[2020-07-30 08:00] TheAdventurer64 commented on #3541
And the preset still isn't available. Oof.

[2020-07-30 17:57] bhousel opened #4053 "nsi.guide canonical urls / SEO"
I noticed that Googlebot is not crawling the nsi.guide site very well.  This is because we built it as a single page app (SPA) with react router parsing params to make the key/value subpages:

<img width="1137" alt="Screenshot 2020-07-30 13 41 31" src="https://user-images.githubusercontent.com/38784/88955902-936d4680-d26a-11ea-897a-6511018a948e.png">

Put another way, Google won't index these page

[2020-07-31 09:24] Andygol opened #4054 "Incorrect name:ua tag instead of name:uk"
It was found that users got incorrect suggestion of `name:ua` key for names in Ukrainian instead of using correct `name:uk=*` key for some POIs in Ukraine.

Places where `name:ua=*` exists is possible to see here - https://github.com/osmlab/name-suggestion-index/search?q=%22name%3Aua%22&unscoped_q=%22name%3Aua%22

It would be great to fix this issue and add some tests to avoid using `name:ua` key

[2020-07-31 15:09] #4054 closed

[2020-07-31 18:26] bhousel commented on #4046
I'm going to close this for now.. I did some more research and it doesn't look like there is a great way to search across all wikipedia languages.  But we can definitely change it later if it turns out there is a good way to do it.

[2020-07-31 18:26] #4046 closed

[2020-08-01 11:08] UKChris-osm commented on #4053
Does the [nsi.guide](https://nsi.guide) web site need to be completely indexed? In terms of SEO what would be the ultimate goal? That every page comes up highly in Google (such as a Costa search brings up the cafe page), or that the home page comes up high (such as a Costa search brings up the home page)?

At the moment, I expect there isn't much indexing going on because there isn't a great deal

[2020-08-01 20:14] TheAdventurer64 opened #4056 "Add Bank of Hawaii"
Bank of Hawaii is a bank headquartered in Honolulu, Hawaii. Wikipedia page here: https://en.wikipedia.org/wiki/Bank_of_Hawaii

[2020-08-02 05:23] #4056 closed

[2020-08-02 05:24] mds08011 commented on #4036
Times Supermarket added here: https://github.com/osmlab/name-suggestion-index/commit/ed6abfc0f9ff08bce1d7bf2ba1f4ce3afb5be185

[2020-08-06 00:24] 1ec5 opened #4058 "Interstate Batteries"
[Interstate Batteries](https://en.wikipedia.org/wiki/Interstate_Batteries) is an American chain of (automotive) battery stores with hundreds of locations.

https://www.wikidata.org/wiki/Q12060773

[2020-08-07 18:35] UKChris-osm commented on #4058
Would **"shop": "car_parts"** or **"shop": "electrical"** be the best way to categorise Interstate Batteries? They seem to deal in many type's of battery item (such as phones and laptop batteries) based on the web site.

[2020-08-10 04:32] VJ1224 commented on #4058
If this is still open, i would like to take it up

[2020-08-10 16:16] #4058 closed

[2020-08-11 05:16] thibaultmol opened #4064 "Pearl in Europe is called "Pearl Opticiens" unlike "Pearl Vision" in the US/CA"
https://nsi.guide/index.html?k=shop&v=optician#Pearle%20Vision

https://nl.wikipedia.org/wiki/Pearle

And it has a different logo as well https://www.pearle.nl/static/img/pnl-vert-600.png

[2020-08-11 12:55] #4064 closed

[2020-08-11 12:57] bhousel commented on #4064
I added this, but I can't have them display separate logos since they both share the same wikidata qid.

[2020-08-11 13:38] bhousel commented on #4053
I would like the nsi.guide site to be indexed, as I think it contains a lot of useful information, but beyond that I don't really have an SEO goal.

I added a sitemap.xml in 8dc83e44 - this seemed to be the simplest possible thing to do, so I'll check back in a month and see if anything changed.

[2020-08-11 16:41] tas50 commented on #4064
Yeah we had it the other way around for a while which was messing up all the brands in the US and then we swung in the other way and just broke Europe. Looks like we have it everywhere now!

[2020-08-11 19:55] thibaultmol commented on #4064
So is the solution then to have them as separate wikidata entries? (seeing as they are kind of different divisions I guess)

[2020-08-12 14:25] bhousel commented on #4064
If they are really that different, then they should probably be two separate Wikidata pages, along with two separate Wikipedia pages explaining why they are different and how they are related.  It might be like Aldi North and Aldi South where there is some shared history but they do their own thing now?

[2020-08-13 22:37] #4037 closed

[2020-08-13 23:10] thibaultmol commented on #2588
I can help with Belgium 🇧🇪

[2020-08-14 08:01] Identitaet commented on #4036
Zippy's now has all the things needed for NSI in wikidata

[2020-08-17 13:09] boothym opened #4077 "Country Code filter on NSI website"
I was looking to see which fitness centre brands had already been added for the UK, so I looked at https://nsi.guide/index.html?k=leisure&v=fitness_centre and typed "GB" into the Country Code box.

My expectation of the Country Code filter box is that it would show all brands which which were available to use for that country in iD. However, it didn't show those brands with a LocationSet of 001 -

[2020-08-17 13:37] VJ1224 commented on #4036
TODO:

- [ ] Zippy's is a fast food/restaurant chain. Wikipedia page here:
https://en.wikipedia.org/wiki/Zippy%27s

- [ ] Aloha Island Mart is a convenience store for Aloha Petroleum. Wikipedia page here: https://en.wikipedia.org/wiki/Aloha_Petroleum

- [ ] Costco Food Court is a food court for Costco. Wikipedia page here: https://en.wikipedia.org/wiki/Costco#Food_service

- [ ] Costco Optician is

[2020-08-17 19:28] bhousel commented on #4077
Yes, good catch, I still need to update the nsi.guide site to handle the region codes.

[2020-08-17 23:00] boothym opened #4079 "Add UK fitness centres"
I've had a look at the most popular UK fitness centre / gym brands in OSM and found a few which could be added.

All of these should be {"include":["gb"]}

"brand": "Bannatyne's"
"brand:wikidata": "Q24993691"
"brand:wikipedia": "en:Bannatyne's"
"leisure": "fitness_centre"
"name": "Bannatyne's Health Club"

Should brand be equal to name?

"brand": "David Lloyd Leisure"
"brand:wikidata": "Q7068711"

[2020-08-18 14:36] bhousel opened #4085 "More lenient JSON parsing"
Sometimes people submit changes that contain small formatting errors in the .json files, such as extra trailing `,` commas.

We can use the [JSON5](https://www.npmjs.com/package/json5) library for input parsing, so that an extra comma doesn't cause a build failure.  We'll still cleanup, format, sort all the files on `npm run build` so things will end up consistent.

[2020-08-18 14:36] #4085 closed

[2020-08-20 19:59] #3916 closed

[2020-08-21 13:21] boothym opened #4096 "Tenpin bowling brand"
I was going to open an issue to add the UK bowling alley brand "tenpin", but I saw it had already been added by @UKChris-osm https://github.com/osmlab/name-suggestion-index/commit/f56f189e50684b10f6def4015ca28ac97836c09b

However, I noticed that Tenpin's name/brand are lower case - looking at overpass-turbo it's only tagged once as **tenpin**, whilst there are 17 occurrences of **Tenpin**. Any cha

[2020-08-23 08:40] CAtOSe opened #4099 "Duplicate National Bank of Canada?"
Running `npm run build` reports these match warnings:
[code]

When comparing these entries, it's clear that they are the same brand but different regions. Shouldn't they be merged? Or maybe there should be a noMatch tag? I'm not sure what the correct action would be here, so I am asking.

[code]
[code]

[2020-08-26 04:00] nicolasmaia opened #4100 "Loving Hut is vegan=only, not vegetarian=only"
Besides, vegetarian=only is implied by vegan=only.

See https://wiki.openstreetmap.org/wiki/Key:diet:vegan

[2020-08-26 04:02] bhousel commented on #4099
Yeah that's ok.. For now just ignore the warnings until I sort out #3995

[2020-08-26 04:02] #4099 closed

[2020-08-26 17:23] UKChris-osm commented on #4079
Have "Bannatyne's Health Club" updated their branding to remove the 's and are simply "Bannatyne", as in "Bannatyne Health Club"?

I think name and brand do need to match, so we couldn't just have "brand":"Bannatyne" with "name":"Bannatyne Health Club"

[2020-08-26 19:37] boothym commented on #4079
Hmm you're probably right - I went for the apostrophe as it was most common in amongst the current OSM objects, and most of the buildings I looked at used it on their signage. (Though my closest one actually has two signs on the building, with and without!)

But their online branding seems to be without the apostrophe, so probably best go with that.

[2020-08-26 23:25] boothym commented on #3424
@bhousel should Maplin still be in the NSI given it's closed? https://nsi.guide/index.html?k=shop&v=electronics#Maplin

[2020-08-27 01:18] bhousel commented on #3424
Yes @boothym - we still include the closed brands in the index. They don't actually get included in the dist/ preset files that browsers pick up, but it might be useful for people to work with them, for example to run an overpass query and close them in OSM.

Issue #3800 is about showing this info on the https://nsi.guide site (which we don't do yet).

[2020-08-27 07:35] nighto commented on #2588
I can help with Brazil 🇧🇷 and Portugal 🇵🇹

[2020-08-27 14:26] boothym commented on #3424
Thanks. Would definitely be useful to have "Closed" or something else in the Maplin row to indicate it's closed.

It's still available as a preset in iD though - I assume that is because iD hasn't picked up the updated files recently, rather than an NSI issue?

[2020-08-29 17:00] ianlopez1115 opened #4104 "Revisiting the tagging schema for LANDBANK (Philippines)"
Similar to #2706, Land Bank of the Philippines uses capitalized letters for LANDBANK. One example of this can be found in their [About Us](https://www.landbank.com/about-us/about-landbank) page. Based on what I've found, I'm suggesting that the naming schema for LANDBANK be changed to the following:

"amenity": "bank"
"brand": "LANDBANK"
"brand:wikidata": "Q6483872"
"brand:wikipedia": "en:Land Ban

[2020-08-29 20:07] Cj-Malone opened #4105 "Add supermarket cackback policies?"
What's the current opinion on adding extra meta data like cashback? I know there was a previous pull request (#3048) that was rejected. However recently you have taken on tags like internet access, they seem similar on the face of it. Extra meta data in OSM is a good thing, and NSI seems to be a good place to recommend it.

[2020-08-31 08:26] nicolasmaia opened #4106 "'shop/supermarket|My Basket' is the same as 'shop/supermarket|まいばすけっと'"

[2020-08-31 14:57] bhousel commented on #4105
I think just about any business allows you to take cash back when you use a debit card to pay.  I don't see how this is a brand-specific thing?  I'd really prefer not to add so many tags that describes almost every business out there.  (it would be like adding `lit=yes` to all the stores - it may be true but nobody needs this.)

I'm also iffy on the value of adding the wifi tags, but I guess some

[2020-08-31 18:15] bhousel commented on #3995
Quick update on some identifiers work that I did last Friday:

* Each entry gets a generated `id` like "simplename-shorthash".
* `displayName` is a separate thing, so we aren't relying so much on names and disambiguators.  It can contain anything and can be used as the preset name in JOSM / iD presets.
* The short hashes are stable until the key, value, or location change.  This means that we can

[2020-08-31 21:39] Cj-Malone commented on #4105
I don't think you can generalise all the way to that, if you said most **supermarkets** in the UK(/EU/US/"Western world"), I'd agree, but "all" is quite inaccurate for a global project.

Certain chains/brands do it, certain ones don't. It's specific to the chain, not any individual location.

I guess you could argue for defaults, like all supermarkets in the UK offer cashback by default unless `ca

[2020-08-31 21:48] tas50 commented on #4105
In the US you'd be really hard pressed to find a Supermarket in the index that didn't allow cash back. Some of them like certain Kroger brands may charge for that cash back, but it's assumed that debit card transaction comes with cash back here.

[2020-09-01 01:27] Adamant36 commented on #4104
It's in all caps on their store signs also. So having it in all caps in the index is fair change. Feel free to do a PR for it if you want. Otherwise, someone will probably do one eventually.

[2020-09-01 01:40] Adamant36 commented on #4096
Plus it's just weird not  to. I really wonder what some brands are thinking with how their names are.

Whatever people's opinions are the best thing to do is to go with what's on the signs. Which it seems like you did here.

It would be cool if the update came after Hacktober. Since we tend to get a lot of PRs during that time. Especially since I plan to open a bunch of "Good first issue" issues a

[2020-09-01 01:40] #4096 closed

[2020-09-01 09:34] Cj-Malone commented on #4105
There are other tags related to cashback like fee and limit, not just the overall yes or no. See [the wiki](https://wiki.openstreetmap.org/wiki/Key:cash_withdrawal).

[2020-09-03 02:38] nicolasmaia opened #4109 "Shell in Japan needs name:ja and Japanese Wikipedia tags"
name:ja=ロイヤル・ダッチ・シェル
https://ja.wikipedia.org/wiki/%E3%83%AD%E3%82%A4%E3%83%A4%E3%83%AB%E3%83%BB%E3%83%80%E3%83%83%E3%83%81%E3%83%BB%E3%82%B7%E3%82%A7%E3%83%AB

[2020-09-03 13:24] bhousel commented on #4053
Just following up that this did not work.  Google still excludes the entire nsi.guide site from its index because it doesn't recognize a React SPA as containing multiple canonical pages of information.

[2020-09-08 10:29] skfd opened #4113 "Postal Office problem -- name should contain the number from `ref`"
It's useful and preferable to have reference number of the Postal Offices in it's name (in Ukraine).

Is there a way to do a preset with name that will also add a number variable?

Example of the current preset:
[code]

Example of the corrected preset:
[code]

[2020-09-08 11:52] 1ec5 commented on #4113
NSI doesn’t have the ability to vary the tags for an individual feature belonging to a brand, only the overall brand. However, an editor should give the user the ability to customize the `name` to something more specific. If this isn’t the case for a particular editor, that would be worth mentioning in that editor’s bug tracker.

[2020-09-08 14:07] bhousel opened #4114 "Notes property?"
I've run into a few situations where it would be helpful to have a freetext notes/comments property on the entries.

For example, while disambiguating United Bank of Connecticut from United Bank of West Virginia, I discovered that the United Bank in Connecticut merged with People's United Bank in 2019.  It would be useful to capture this information in a note just so someone who comes along later

[2020-09-08 19:19] matkoniecz commented on #4104
I am still not convinced that we should follow such styling, I would treat it as a stylistic choice.

[2020-09-11 03:23] #4100 closed

[2020-09-11 04:58] Adamant36 commented on #4109
From my research Shell gas stations in Japan aren't branded as "Royal Dutch Shell" or "ロイヤル・ダッチ・シェル." The signs just say Shell. So, there isn't a unique Shell sub-brand specific to Japan. is the only point to this to have a link to the Japanese Wikipedia page for Shell stations in Japan or something along those lines?

[2020-09-11 05:03] Adamant36 commented on #4079
@UKChris-osm do you care if I close this since it looks like you've dealt with it?

[2020-09-11 05:05] Adamant36 commented on #3889
I'm going to close this since it seems to be resolved. Feel free to re-open it if it's not though.

[2020-09-11 05:05] #3889 closed

[2020-09-11 05:54] Adamant36 commented on #4036
They only have 8 locations. Which might be under Wikidata's notability guidelines. If not though, it would be fairly easy to add their brand information to OSM without them having an entry in the NSI.

I created Q99196505

[2020-09-11 06:02] Adamant36 opened #4120 "Add Burger Urge"
Australian burger restaurant chain

https://en.wikipedia.org/wiki/Burger_Urge
https://www.wikidata.org/wiki/Q19589751

[2020-09-11 06:04] Adamant36 opened #4121 "Add Cibo Espresso"
Australian cafe and coffee shop chain.

https://en.wikipedia.org/wiki/Cibo_Espresso
https://www.wikidata.org/wiki/Q5119230

[2020-09-11 06:07] Adamant36 opened #4122 "Add Sotka"
Finish furniture store chain.

https://fi.wikipedia.org/wiki/Sotka_(ketju)
https://www.wikidata.org/wiki/Q18689173

[2020-09-11 06:08] Adamant36 opened #4123 "Add Spencer's"
Indian convenience and supermarket chain.

https://en.wikipedia.org/wiki/Spencer%27s_Retail
https://www.wikidata.org/wiki/Q7575959

[2020-09-11 06:11] Adamant36 opened #4124 "Add Coast"
Women's clothing store chain located in the United Kingdom.

https://en.wikipedia.org/wiki/Coast_(clothing)
https://www.wikidata.org/wiki/Q28135383

[2020-09-11 06:12] Adamant36 opened #4125 "Add Prince Hypermart"
Supermarket chain located in the Philippians.

https://en.wikipedia.org/wiki/Prince_Hypermart
https://www.wikidata.org/wiki/Q28405980

[2020-09-11 06:26] Adamant36 opened #4126 "Add Nomi"
Polish supermarket chain.

https://pl.wikipedia.org/wiki/Nomi_(przedsiębiorstwo)
https://www.wikidata.org/wiki/Q11792768

[2020-09-11 06:44] Adamant36 opened #4128 "Change Mulberry tag"
Global clothing store chain.

https://www.wikidata.org/wiki/Q87737811

[2020-09-11 06:53] Adamant36 opened #4129 "Add Harris Farm Markets"
Australian supermarket chain.

https://en.wikipedia.org/wiki/Harris_Farm_Markets
https://www.wikidata.org/wiki/Q5664888

[2020-09-11 06:55] Adamant36 opened #4130 "Add Globus"
Indian clothing store chain.

https://en.wikipedia.org/wiki/Globus_(clothing_retailer)
https://www.wikidata.org/wiki/Q5571109

[2020-09-11 06:57] Adamant36 opened #4131 "Add Kekäle"
Finnish clothing store chain.

https://fi.wikipedia.org/wiki/Kek%C3%A4le_(kauppaketju)
https://www.wikidata.org/wiki/Q55418905

[2020-09-11 13:30] boothym commented on #4079
@Adamant36 there's still David Lloyd Leisure to be dealt with

[2020-09-11 13:34] nicolasmaia commented on #4109
Just シェル works too!

[2020-09-11 18:16] Adamant36 commented on #4109
Yeah, but why doesn't just Shell? Its what's on the signs and there's assumption of ground varifiability/"on the ground" rule with OSM. So why is the name:ja even needed? (I'm not saying it shouldn't be added. I'm just asking. There's a point where creating a seperate entry for every different language that's spoken where a global brand is located would get a little arduous
and it could just be wr

[2020-09-12 18:17] UKChris-osm commented on #4128
I [added](https://github.com/osmlab/name-suggestion-index/commit/0e23b8072843db44791c3d2a4f4aadf61eccd3d7#diff-06e4e72d346758ae8e9df11495d95b74) Mulberry a while back under "__shop/fashion_accessories__", would you recommend a re-classification?

[2020-09-12 18:23] UKChris-osm commented on #4079
@Adamant36 I think it would be better to leave this open a little longer, as like @boothym said there is one more that I haven't gotten around to yet, and someone else might be able to get to it before me.

[2020-09-12 18:27] UKChris-osm commented on #4114
Do you mean just an NSI type note, or one that would appear within OSM? I'm guessing that either way, iD would need to be amended to ignore this note note proeprty, if it's just for the NSI? Unless JSON includes a comment ability that can be automatically ignored by any parser?

[2020-09-12 19:51] Adamant36 commented on #4128
Ummm, I thought it was another brand due to the different Wikidata entry. I'll probably merge this one with the "legitimate one" so there isn't anymore confusion about it. That said, maybe it would be better if they re-classified as shop=bag. Although, it looks like they sell shoes and "accessories." So who knows :man_shrugging:

[2020-09-12 19:54] UKChris-osm commented on #4128
I thought of Mulberry as a bag shop mostly, but because I saw they sold other things as well I thought accessories was more appropriate.

[2020-09-12 19:57] Adamant36 commented on #4079
Anyone have any opinions on if it would be better tagged as leisure=fitness_centre or leisure=sports_centre? It seems like both are used in about equal proportions (or to do they run both?).

[2020-09-12 22:18] gendy54 opened #4134 "FR: Add Crédit mutuel (bank)"
Hello,

Country code: FR (only)

"amenity":"bank"
"brand":"Crédit Mutuel"
"brand:wikidata":"Q642627"
"brand:wikipedia":"fr:Crédit mutuel"

[2020-09-12 22:23] gendy54 opened #4135 "FR: Add Crédit coopératif (bank)"
Hello,

Country code: FR (only)

"amenity":"bank"
"brand":"Crédit coopératif"
"brand:wikidata":"Q3006190"
"brand:wikipedia":"fr:Crédit coopératif"

[2020-09-12 22:24] #4134 closed

[2020-09-12 22:25] gendy54 commented on #4134
already present in base

[2020-09-12 22:39] gendy54 opened #4136 "FR: Add Emmaüs (charity)"
Hello,

Country code: FR (only)

"shop":"charity"
"second_hand":"yes"
"operator":"Mouvement Emmaüs"
"operator:wikidata":"Q989437"
"operator:wikipedia":"fr:Mouvement Emmaüs"

I deliberately changed "brand" to "operator".

[2020-09-13 07:19] UKChris-osm commented on #4124
Coast no longer have any retail outlets, as they went bust and the brand bought out and retained as an online only business.

[2020-09-13 07:21] Adamant36 commented on #4124
Well that's a fail boat. I guess it's what I get for not reading the last sentence of Wikipedia article. It really could have been written clearer 😄

[2020-09-13 07:21] #4124 closed

[2020-09-13 08:32] UKChris-osm commented on #4124
I did have to look into it a bit, as I thought the concession stands within John Lewis, Debenhams, etc still existed, but I ended up just messaging the company on facebook and asking them and they confirmed they were online only now :)

[2020-09-13 09:00] UKChris-osm commented on #4136
Why so?

[2020-09-13 11:16] UKChris-osm commented on #4104
I noticed that we have "_Starbucks_" in the index with just a capital letter, yet the coffee shop branding is always upper-case.

Would Landbank be similar, by remaining only capitalised in the index, even though the store branding is all upper-case??

[2020-09-13 11:30] UKChris-osm commented on #4053
Using "_site:nsi.guide_" shows four results in Google, so maybe Google is seeing the pages, but isn't valuing the content enough to index them?

Can React SPA allow unique titles to be added to each page?

[2020-09-13 12:12] Robot8A opened #4139 "Add match names to Overpass query"

[2020-09-14 04:15] Adamant36 commented on #4139
Good idea. @UKChris-osm, do you think it would be doable?

[2020-09-14 04:17] Adamant36 commented on #4136
We're only doing brand:* at this point. The operator tag was intentionally removed awhile back because it wasn't really clear.

[2020-09-14 09:29] UKChris-osm commented on #4139
I think it could be yes, maybe with the matched name as a warning so it encourages the actual name to be used?

[2020-09-14 10:54] nicolasmaia commented on #4109
My main concern is that data users looking for シェル won’t find Shell. But in any case, Latin alphabet letters are foreign here and people don't use them as much as their equivalents in kana in most situations.

Also it seems to be common practice in this project to add name:ja to brands in Japan.

[2020-09-14 11:21] Adamant36 commented on #4109
I thought OSM based software deals with language localization if there's a whatever:ja tag present or not.

Sure when its a Japanese brand we do. That's a completely different thing then what your requesting in this issue though. Just an FYI, there's a specifc reason I'm asking.

[2020-09-14 11:31] lakedistrictOSM opened #4140 "Jewson needs changing from shop=doityourself to shop=trade"
Q6190226

The chain is aimed at builders, rather than regular DIY customers.

[2020-09-14 11:50] lakedistrictOSM opened #4141 "Missing UK brands"
Please can the following be added:

name=Timpson
shop=locksmith
craft=key_cutter
brand:wikidata=Q7807658

name=Poundbakery
shop=bakery
brand:wikidata=Q21061591

Roman appears at https://nsi.guide/index.html but doesn't appear in iD when searched?

name=Roman
shop=clothes
brand:wikidata=Q94579553

[2020-09-14 12:28] Robot8A commented on #4139
I was thinking about simply rendering different names in red, like the current places with equal name and no matching tags, or maybe in yellow.

[2020-09-14 13:05] UKChris-osm commented on #4141
Roman was added a little while ago and will appear line when a fresh update is released, but I don't know when this will be as some alterations need to be made to either the NSI or the iD Editor.

Timpson was discussed via #3437, but so far no conclusion as to how to tag it.

[2020-09-14 13:15] UKChris-osm commented on #4139
That's what I meant by warning, sorry, by highlighting it as either red or yellow. I was thinking red as if it's matching the matchName then it must currently be incorrect.

[2020-09-14 13:26] lakedistrictOSM commented on #4105
Not necessarily. Some branches of Tesco Express offer cashback and some branches don't.

[2020-09-14 13:31] UKChris-osm commented on #4140
Would you say [Travis Perkin](https://nsi.guide/index.html?k=shop&v=doityourself#Travis%20Perkins) should also be listed as trade??

[2020-09-14 13:33] lakedistrictOSM commented on #3437
I've been mapping Timpson branches as shop=locksmith (sometimes with craft=key_cutter) as I thought that was their primary focus. Signage is quite mixed as these recent Geograph images show:
https://s1.geograph.org.uk/geophotos/06/60/06/6600689_9189e3f6_original.jpg
https://www.geograph.org.uk/photo/6538259
https://www.geograph.org.uk/photo/6553193

[2020-09-14 13:47] Cj-Malone commented on #4105
@lakedistrictOSM that's what Tesco said when I contacted them, so obviously it shouldn't be in the Tesco entries. On the other hand Heron Foods said none of there stores offer cash back.

[2020-09-14 19:19] KamajiiSC commented on #4129
I submitted a pull request for this! #4142

[2020-09-15 09:42] lakedistrictOSM commented on #4141
Thanks for adding Poundbakery @UKChris-osm As Timpson already has an open issue, I'll hit the close button on this one now.

[2020-09-15 09:42] #4141 closed

[2020-09-15 12:09] skfd commented on #4113
If it does not have this feature I propose to add one, it can be backwards compatible even. I'm mostly interested in iD, so will surely add a feature request there too :D

[2020-09-15 12:23] bhousel commented on #4113
Ah yeah just catching up with this now.. We can't support adding token replacements in the `name` tag, sorry!

I'm working on changes to the code to allow us to include entries that don't have a name, so that's what we would do for these post offices.

[2020-09-15 15:12] bhousel opened #4150 "This restaurant has `name=restaurant`"
https://github.com/osmlab/name-suggestion-index/blob/ad81caa58beb72eff1cc5191aa0687bc1a98138a/brands/amenity/restaurant.json#L2210-L2219

[2020-09-15 17:11] #4135 closed

[2020-09-15 20:55] #4131 closed

[2020-09-15 21:20] bhousel commented on #3995
I'm almost finished with this work. 🎉

There will be a bunch of conflicts to resolve, so I've disabled merging to `master` temporarily until I can reconcile all the recent PRs that have been merged with the new file structure and code.  Wish me luck.. 😅

[2020-09-16 13:28] bhousel commented on #4104
I checked Google to see what they do, and looks like their labeling is all over the place.  A mix of "Land Bank of the Philippines",  "Land Bank", "Landbank", and "LANDBANK".

<img width="600" alt="Screen Shot 2020-09-16 at 9 24 17 AM" src="https://user-images.githubusercontent.com/38784/93343449-7e3e7e00-f7fe-11ea-9d64-bf3c999eb534.png">

Given that the point of the `name` tag is to render someth

[2020-09-16 13:28] #4104 closed

[2020-09-16 15:39] bhousel commented on #3995
OK - the new files are merged in..
- I removed the branch protection roles so we can merge PRs again.
- I also took this opportunity to switch the default branch from `master` to `main` - update your local forks!
- I still need to fix some things with the nsi.guide site, and generating the files in `dist/*`, so this will remain open until those are settled.

[2020-09-16 17:47] bhousel commented on #4114
The parser we use can handle `// comments` in the files - but they get thrown away when the files are saved back to "proper" json format which doesn't support comments.

Yep, it's just for a note that would stay within NSI for our own ease of maintenance.. I wouldn't expect any of the editors to do anything with it.

[2020-09-16 18:26] #4114 closed

[2020-09-16 18:31] gendy54 commented on #4136
Because Emmaus is an association. So the brand tag doesn't seem at all appropriate to me.

[2020-09-16 18:52] Identitaet commented on #4114
Could we change notes to NSI_notes so it can't be mistaken for the notes tag ?

[2020-09-16 18:56] bhousel commented on #4114
I'd rather not do this.. All the nsi-only properties are different from the OSM tags.  I put this note in the CONTRIBUTING guide:

"You can optionally add a `note` property to any item.  The note can contain any text useful for maintaining the index - for example, information about the brand's status, or a link to a GitHub issue.
The notes just stay with the name-suggestion-index; they aren't Open

[2020-09-16 18:58] bhousel commented on #4136
Hey @gendy54 - OpenStreetMap convention is to use the `operator` tag for the company, corporation, person or any other entity who is directly in charge of the current operation of a single location.. People have been confused by this, so we don't add them right now.  See https://wiki.openstreetmap.org/wiki/Key:operator for more info, also these old issues.

#2471
#2736
#2816

If these are storefro

[2020-09-16 19:01] gendy54 opened #4152 "FR: Add Banque Palatine (bank)"
Hello,

Country code: FR (only)

"amenity":"bank"
"brand":"Banque Palatine"
"brand:wikidata":"Q2883429"
"brand:wikipedia":"fr:Banque Palatine"

[2020-09-16 19:51] #4152 closed

[2020-09-16 21:09] gendy54 opened #4155 "FR: Add Établissement français du sang (blood_donation)"
Hello,

Country code: FR (only)

"brand":"Établissement français du sang"
"brand:wikidata":"Q3591543"
"brand:wikipedia":"fr:Établissement français du sang"
"donation:compensation":"no"
"healthcare":"blood_donation"
"operator:type":"public"
"name":"Établissement français du sang"
"short_name":"EFS"

[2020-09-16 21:25] gendy54 opened #4156 "FR: Add Effia (parking)"
Hello,

Country code: FR (only, but verification requested)

"amenity":"parking"
"brand":"Effia"
"brand:wikidata":"Q3045894"
"brand:wikipedia":"fr:EFFIA"
"name":"Effia"

The name of the company is entirely in upper case so I don't know how to take it into account because OSM doesn't like names in upper case (and neither do I)

[2020-09-17 12:35] bhousel commented on #4106
@nicolasmaia is one name preferred by local mappers?

[2020-09-17 12:40] naveenpf opened #4158 "Add local brands from India"
[Local brands from Kerala](https://github.com/osmkerala/osmkerala-tasks/issues/15)

[2020-09-17 13:16] nicolasmaia commented on #4106
I'd go with まいばすけっと as this is the name on the signage. And add `name:en=My Basket`.

[2020-09-18 00:19] peternewman commented on #4140
From:
https://www.travisperkins.co.uk/content/faqs

I can't find something so clear cut with Jewson:
https://forums.moneysavingexpert.com/discussion/5063042/buying-from-trade-only-shops

They may be aimed at trade more so than B&Q say, I'd say that's probably true of both.

According to that MSE forum, Howdens is trade only.

[2020-09-18 14:55] #4106 closed

[2020-09-18 20:11] #3417 closed

[2020-09-18 20:25] matkoniecz commented on #4140
https://en.wikipedia.org/wiki/Jewson

On the other hand https://www.jewson.co.uk/tools-fixings/hand-tools lists things that would perfectly fit DIY...

[2020-09-18 20:54] bhousel commented on #3995
The new code seems to be working pretty ok!  This unblocks a bunch of other things that I'll tackle soon.

I'd like to leave this open until all those P8253 Name Suggestion Identifier properties on Wikidata have been updated.  I'd ideally like to make this an automatic thing that the `build_wikidata.js` script does for us.

[2020-09-19 01:58] camelCaseNick commented on #3995
So not bulk uploading it now, to not prevent the testing of such an automation?

[2020-09-19 14:16] bhousel commented on #3995
I don't understand your question, sorry.. Mostly I just haven't bulk updated the P8253's yet because I ran out of time yesterday to implement it.

[2020-09-19 16:46] camelCaseNick commented on #3995
I meant, that if I, or anybody else, would upload it in bulk now, it might interfere with your idea to update them automatically in the `build_wikidata.js` as you couldn't test it if every identifier was set correctly to the new one already.

[2020-09-19 18:55] bhousel commented on #3995
I don't think it would interfere - it's a one way update from NSI -> Wikidata.  If you update them all now, the script would just have less to do later.

[2020-09-20 13:23] maro-21 opened #4167 "Edit アニメイト"
Animeito in Japan sells mainly manga and anime and we already have a tag for such shops: `shop=anime`.
https://en.wikipedia.org/wiki/Animate_(retailer)

[2020-09-20 13:23] maro-21 opened #4168 "Edit イエロー・サブマリン"
Yellow Submarine sells mainly tabletop games, models and toys, so the tag should be `shop=toys`.

Also the website is wrong. It points to a confectionery shop http://www.souhonke-surugaya.co.jp instead of https://www.yellowsubmarine.co.jp.

[2020-09-20 13:25] maro-21 opened #4169 "Edit ジャンプショップ"
Jampu Shoppu sells manga, so it's `shop=anime`, not shop=hobby.

[2020-09-20 13:26] maro-21 opened #4170 "Edit ポケモンセンター"
This shop sells Pokémon related stuff, so it's `shop=anime`.

[2020-09-20 13:27] maro-21 opened #4171 "Edit 駿河屋"
It sells mainly consumer electronics and video games. Offered products are similar to products found in Media Markt so `shop=electronics` fits here.

[2020-09-20 15:27] bhousel commented on #4167
Ah yeah, I saw on the iD repo that you don't like the `shop=hobby` tag, and that you've been editing the wiki to try to get people to stop using it.
https://github.com/openstreetmap/iD/issues/7882

I think it's rude of you to try replacing a tag that mappers in Japan are using.. But at this point, I don't really care so I'll just change all these values so the issue goes away.

[2020-09-20 15:40] #4167 closed

[2020-09-20 15:40] #4168 closed

[2020-09-20 15:40] #4169 closed

[2020-09-20 15:40] #4170 closed

[2020-09-20 15:40] #4171 closed

[2020-09-20 16:55] Identitaet opened #4173 "add sweets shop Bären-Treff"
Needs wikidata

Most importantly I can't see a category for Candy/sweets shops

[2020-09-20 17:11] bhousel commented on #4173
Best category would be `shop/confectionery`
https://nsi.guide/index.html?k=shop&v=confectionery

[2020-09-20 17:59] UKChris-osm commented on #3979
I've added "_B&M Express_" as a convenience store for now.

I'm thinking every other type of B&M would be a variety_store.

[2020-09-20 18:17] UKChris-osm commented on #4122
Merged via #4165

[2020-09-20 18:17] #4122 closed

[2020-09-20 19:43] maro-21 commented on #4167
No, I didn't.
The only thing I did was expanding the list of suggested replacements:
https://wiki.openstreetmap.org/w/index.php?title=Tag:shop%3Dhobby&diff=2017292&oldid=1806009

Everyone can see how the Wiki paged looked like before my edit:
https://wiki.openstreetmap.org/w/index.php?title=Tag:shop%3Dhobby&action=history
https://wiki.openstreetmap.org/w/index.php?title=Tag:shop%3Dhobby&oldid=1806

[2020-09-20 20:08] maro-21 commented on #4168
The website is still incorrect. [Q11668496](https://www.wikidata.org/wiki/Q11668496) points to Surugaya.
https://nsi.guide/index.html?k=shop&v=hobby#yellowsubmarine-dd8d0c

[2020-09-20 20:28] peternewman commented on #4140
Erm yes, because the building trade is basically paid DIY, or vice-versa.

I'd suggest it's a more general issue. From the wiki:
"A place of business that sells to a particular trade or trades, but normally also retails to normal consumers."

Then you're supposed to use trade=* to distinguish which trade it sells to. trade=building_supplies in this case.

Then later relative to DIY:
"TODO: documen

[2020-09-21 02:39] #4123 closed

[2020-09-21 02:49] #4173 closed

[2020-09-21 02:50] #4126 closed

[2020-09-21 02:51] #4130 closed

[2020-09-21 02:56] #4120 closed

[2020-09-21 03:14] #4121 closed

[2020-09-21 09:31] Cj-Malone commented on #3979
Is the `brand:wikidata` global, for the entire brand, or per store type? I noticed Tesco recently changed to per store type.

[2020-09-21 16:14] naveenpf commented on #4158
#4161
#4164

[2020-09-21 19:24] UKChris-osm commented on #3979
At the moment I've used the same Wikidata for "_B&M Express_" just to get it into the NSI. It could have its own Wikidata, but as it isn't a huge brand I'm not so sure it's necessary as it's in. a different category than "_shop/variety_store_".

For the other type's of store though, which all could fall into the "_shop/variety_store_", unique Wikidata's might be necessary.

[2020-09-21 19:32] UKChris-osm commented on #4079
I'd probably go with "_leisure=sports_centre_" as according to the [wiki](https://wiki.openstreetmap.org/wiki/Tag:leisure%3Dsports_centre) a sports centre can contain a fitness centre

[2020-09-21 20:21] #3995 closed

[2020-09-21 20:22] bhousel commented on #3995
I updated the `build_wikidata.js` script to push our new ids to wikidata and removed the legacy NSI ids.
This is done 🎊

[2020-09-21 20:37] UKChris-osm commented on #3995
Great work @bhousel 👍

Can the new updates integrate into iD easily? Can a new release of the NSI be pushed to it anytime soon?

[2020-09-21 20:39] bhousel commented on #3995
I don't know, sorry.  I was removed from the iD project and no longer maintain it.

[2020-09-22 06:27] Identitaet commented on #3995
Probably the best thing to do is just open an issue on the iD page and see what's the answer

[2020-09-22 08:36] Identitaet commented on #4156
I just looked and they say on their website "EFFIA is a major player in parking in France and Belgium"
but it is unclear if they just own a company with elgian parking spaces or operate them under the effia brand
https://www.keolis.com/en/media/newsroom/press-releases/effia-strengthens-its-presence-belgium-with-acquisition-parkeren
but given the fact that the accquired brands still seem to operati

[2020-09-22 15:49] bhousel commented on #4053
update - I did this in 30533ce9.  It was easier than I thought!
I'll keep an eye on the stats to see whether that helps.

[2020-09-22 16:14] #3888 closed

[2020-09-22 16:16] #4156 closed

[2020-09-22 16:17] #4125 closed

[2020-09-22 16:57] bhousel commented on #4168
ok, I fixed it in d21cf1f6

[2020-09-22 17:01] UKChris-osm commented on #4079
I've made a pull request #4182 for "_David Lloyd Clubs_" so it's a bit easier for others to see if it's suitable.

[2020-09-22 17:13] #4140 closed

[2020-09-22 17:19] #4079 closed

[2020-09-22 18:31] bhousel commented on #3009
Update on the above - the `name` field is not strictly required anymore now that we have new identifiers (#3995) and more flexible code to work with them  🎊

[2020-09-22 18:36] UKChris-osm commented on #3009
Wetherspoon added back via [50059d4](https://github.com/osmlab/name-suggestion-index/commit/50059d45f93d04bcaaa4c72aa2fe1db1880a8254), minus the "_name_" tag.

[2020-09-22 18:40] #4034 closed

[2020-09-22 18:40] bhousel commented on #4034
Name isn't required anymore, so I removed the `name` tag from Harvester in f0b72129

[2020-09-22 19:03] #3162 closed

[2020-09-22 20:21] #4113 closed

[2020-09-22 20:22] bhousel commented on #4113
The `name` tag isn't required anymore, so I removed it from Нова Пошта in 91975f5

[2020-09-22 20:27] bhousel commented on #4128
Let's leave as `fashion_accessories` - that seems fine.
I've merged the Q87737811 qid into Q3866987.

[2020-09-22 20:27] #4128 closed

[2020-09-22 20:37] bhousel commented on #4105
I thought about it more and I still think we should avoid adding extra payment tags for stores.  I'm worried that if we start adding a few, people will start adding a dozen `cash_withdrawal:*` tags to every brand.

[2020-09-22 20:37] #4105 closed

[2020-09-22 21:55] Cj-Malone commented on #4105
What about just the explicit `cash_withdrawal=no`? Especially on POIs where it would be fair to assume they do offer it like `shop=supermarket` in the UK/US.

[2020-09-23 00:37] modaserMoj commented on #4129
Is this still open?

[2020-09-23 01:19] modaserMoj commented on #3765
Can I add the brand without the Wikipedia and Wikidata tags? Also, this would go in amenities?

[2020-09-23 02:14] Adamant36 commented on #4129
I guess not since there was a PR for it that was merged. Feel free to do a PR for one of the other ones though 👍

[2020-09-23 02:14] #4129 closed

[2020-09-23 02:20] Adamant36 commented on #3765
You can add it to the index without the Wikipedia and Wikidata tags. They will just need to be added later for it to show up in iD Editor. At least the Wikidata tag will. I don't think there are any entries with just the Wikipedia tag. Otherwise, someone will likely come along and create a Wikidata entry for it eventually (I probably will myself if know one else does).

On how to tag it, I think [

[2020-09-23 02:34] Adamant36 commented on #4158
I'm going to close this since it looks like they were added in #4160 and #4162.

[2020-09-23 02:34] #4158 closed

[2020-09-23 02:43] Adamant36 commented on #4155
Just a minor thing, but it's better to go with EFS for the name and use the official_name tag for Établissement français du sang. Since EFS is used 4 times more and it's always better to go with the shorter thing for the name when we can anyway. Also, as you should already know from #4136 we don't do the operator tag. So it would probably be a safe bet to assume we aren't going to add operator:typ

[2020-09-23 04:21] modaserMoj commented on #3765
Firstly, thank you for the informative reply and sorry to ask again but I am not sure how to fix this error.
I added the following code to shop/rental and run npm run build and got the following error.

  {
		 "displayName": "Sunbelt Rentals",
		 "locationSet": {"include": ["ca", "us"]},
		  "tags": {
		  "name": "Sunbelt Rentals",
		  "shop": "rental"
	    }
	  },

Error - Schema validation:
  ./

[2020-09-23 05:25] Adamant36 commented on #3765
Build seems to not be working on my end either based on the latest commit. Although it's gives a different error about locationset not being a function in some file.

@bhousel

[2020-09-23 05:28] bhousel commented on #3765
Ah yeah, json schema validation errors are not very understandable.. It is complaining that there is no `brand` tag.

[2020-09-23 11:09] peternewman commented on #4140
See also #4190

[2020-09-23 14:06] bhousel commented on #4105
People can still add whatever tags they want on the stores themselves - this index is about collecting tags that apply to _all_ of the stores.

So if there is some brand that has made a statement about not allowing cash withdrawal at any of their stores, I guess we could add that tag here.  (Like how we added `opening_hours: 24/7` to Waffle House, it's a well-known thing about them).

Also, kind o

[2020-09-23 15:20] modaserMoj commented on #3765
Yup, thank you that was it.

[2020-09-23 16:03] Identitaet opened #4194 "Is Indian Palace a generic rstaurant name ?"
I have look for restaurants with that name but have found none belonging to any chain neither do I find a websites which is for more than one restaurant

[2020-09-23 18:55] UKChris-osm commented on #4194
I couldn't find a brand for it either, so it could just be a popular name used across the world by many independent restaurants, which was picked up by the NSI when a planet file scan was done.

[2020-09-24 02:39] matthewlw opened #4196 "Api (amenity/fuel) seems to be tagged with the wrong Wikidata entry"
[Api](https://nsi.guide/index.html?t=brands&k=amenity&v=fuel#api-e8f712) is currently associated with the [American Petroleum Institute](https://www.wikidata.org/wiki/Q466043). It seems highly unlikely that an American trade association is running gas stations in Italy and only in Italy, so I'm guessing that Api instead stands for [Anonima Petroli Italiana](https://www.wikidata.org/wiki/Q646807).

[2020-09-24 03:05] bhousel commented on #4196
Thanks for reporting @matthewlw , and for doing the research to find the correct Wikidata QID.

I've done a few re-taggings like this in the past - I usually use the "export" link on Overpass Turbo to bring the mistagged entries into level0, then update them all at once.

No, I don't think that's the case.. `operator` is the entity that operates the gas station.  It's often an individual or franch

[2020-09-25 05:59] yashodip commented on #2588
I can help with India.

[2020-09-25 15:41] kjonosm opened #4203 "Add brands in Germany"
brand=Vorwerk
name=Vorwerk
shop=vacuum_cleaner
brand:wikidata=Q449852
brand:wikipedia=de:Vorwerk_(Unternehmen)

brand=Zoo&Co.
name=Zoo&Co.
shop=pet
brand:wikidata=Q219979
brand:wikipedia=de:Zoo & Co.

brand=Wempe
name=Wempe
shop=jewelry
brand:wikidata=Q1483424
brand:wikipedia=de:Gerhard D. Wempe

brand=Multipolster
name=Multipolster
shop=furniture
brand:wikidata=n/a
brand:wikipedia=n/a
website=htt

[2020-09-25 16:37] #3375 closed

[2020-09-25 16:45] bhousel commented on #3375
This went stale so I just did it..

[2020-09-25 18:17] Identitaet commented on #4203
Could you help me with what the actuall label used for Möbell Boss is

I'm a bit confused there

[2020-09-25 19:42] kjonosm commented on #4203
their signage is a bit all over the place, but I would maybe just cut the (SB-) and go ahead with Möbel Boss...

[2020-09-25 19:46] Identitaet commented on #4203
well luckily since the newest update we can skip the name tag that's probably the best thing to do here

[2020-09-25 19:48] bhousel commented on #4203
No, please don't skip the `name` tag unless you have a really good reason to - i.e. every instance of this business has a unique name.

[2020-09-25 20:34] bhousel commented on #4194
I agree - removed it in 691e9d5a

[2020-09-25 20:34] #4194 closed

[2020-09-26 14:06] Cj-Malone commented on #4105
[Heron Foods](https://nsi.guide/index.html?t=brands&k=shop&v=supermarket#heronfoods-a8278b) have removed cashback and has moved to ATMs in store. They are currently tagged as `shop=supermarket` so it would be fair for an OSM consumer to assume they offer cashback but we know they don't.

(They may be better as `shop=frozen_food`)

Would a PR be welcome in that case?

[2020-09-26 16:02] #4203 closed

[2020-09-27 12:06] kjonosm opened #4212 "Add brands in Germany #2"
I researched some more German brands browsing through [https://wiki.openstreetmap.org/wiki/Germany/Shops]. I hope it's ok to throw them all into one issue or should I rather split them up (next time)?

- [x] name=Fränky
       brand=Fränky
       shop=beverages
       brand:wikidata=Q23787118 -> parent company Orterer Gruppe)
       brand:wikipedia=de:Fränky -> redirect to parent company Orterer G

[2020-09-27 18:39] Identitaet commented on #4212
Yes you can add them in a big list like that.
Also let's start going through the bits that are unsure
PC-Specialist and Fränkys

[2020-09-27 22:58] camelCaseNick commented on #4212
Are Yorma’s shop=convenience? Wikidata calls them _Imbisskette_, Wikipedia _Systemgastronomie_. I wouldn't have had considered them a convenience store.

[2020-09-28 07:12] Identitaet commented on #4212
Good question they sell a lot of things but also have the sandwiches as a main focus

[2020-09-28 07:13] Identitaet commented on #4212
And the one from my train station is tagged as a Kiosk

[2020-09-28 10:53] Identitaet commented on #4212
is shop carpet accurate for tedox ?
They seem to sell a lot of things for home improvment
I'd think It'd be shop=doityourself

[2020-09-28 15:34] kjonosm commented on #4212
yeah, tagging it as DIY also works to reflect their entire range of products.

they are between fast_food/bakery/convenience. So fast_food might be more appropriate and in line with wikipedia.

[2020-09-28 23:49] modaserMoj commented on #4155
Is this still open? if it is the only change recommended is to use the official_name tag instead of name tag?

[2020-09-29 09:14] Identitaet commented on #4212
![IMG_20200929_111219](https://user-images.githubusercontent.com/58372210/94538808-c6b95b00-0244-11eb-9592-9eb429a36c51.jpg)
![IMG_20200929_111041](https://user-images.githubusercontent.com/58372210/94538814-c7ea8800-0244-11eb-9f0c-b884d68a4522.jpg)
![IMG_20200929_110909](https://user-images.githubusercontent.com/58372210/94538822-c91bb500-0244-11eb-8592-e450ed018804.jpg)
The problem with yormas i

[2020-09-29 16:36] bhousel commented on #4212
This is ok - we can add the "yormas" to both the `shop/convenience.json` and `shop/kiosk.json` files.  Then users can choose either.

[2020-09-29 19:31] gendy54 commented on #4155
In this case, you can actually remove operator:type

[2020-09-29 20:37] #4155 closed

[2020-09-29 20:38] bhousel commented on #4155
ah yeah this was done in #4217

Sounds good, I made these changes in b186d810

[2020-09-30 07:15] Identitaet commented on #4212
okay all the shops with wiki articles have been added

[2020-09-30 14:52] omarnazih commented on #2588
I can help with Egypt

[2020-09-30 17:05] anoncloud-code commented on #2588
I can help you with Germany :)

[2020-10-01 06:33] shawnshahzad commented on #2588
I can do Pakistan and USA

[2020-10-01 07:31] yotamN commented on #2588
I can help with Israel

[2020-10-01 20:17] bhousel opened #4231 "Hacktoberfest challenge - name-suggestion-index has transit now!"
Happy Hacktober! 👻

The past few days I've been updating the core code to add another "tree" to the name-suggestion-index project for **transit**.  I've collected frequently-occuring `network` tag values on for several route features, and we're going to canonicalize all the transit networks in OpenStreetMap to be linked to a `network:wikidata` tag.

🚄  Check out the transit networks of OpenStreetM

[2020-10-01 20:51] 3Hearts commented on #4231
Looking to cut my teeth on some work this month and happy to assist with this.

[2020-10-01 22:59] camelCaseNick commented on #4231
Is it possible to extract it from OSM's boundary=public_transport? [Taginfo says, we have 263.](https://taginfo.openstreetmap.org/tags/boundary=public_transport)

[2020-10-02 00:37] bhousel commented on #4231
Interesting! I’ll look into it.. boundaries in OSM are often waaaay more complex than what we want for our needs (a fast point-in-polygon test to answer questions like “do MTA bus stops belong here?”)

In every situation I’ve needed a polygon, it’s a lot faster for me to just go to http://geojson.io and draw it myself - again keeping the point count as low as possible.

[2020-10-02 10:17] ankita2210 commented on #3677
I would like to work on this

[2020-10-02 10:36] Identitaet commented on #3677
No problem we'll wait for your pr

[2020-10-02 14:25] batistaleandro commented on #2588
I can help with Brazil

[2020-10-02 14:30] ankita2210 commented on #3677
Can you suggest why ci build failed in spite of successful local build  @Identitaet  for PR https://github.com/osmlab/name-suggestion-index/pull/4245

[2020-10-02 14:36] bhousel commented on #3677
Yes, you can click on "details" next to the failed build - it will take you to Travis where you can view the logs.

The logs show this:
<img width="610" alt="Screen Shot 2020-10-02 at 10 31 50 AM" src="https://user-images.githubusercontent.com/38784/94935164-ab478d80-049a-11eb-928a-b015e05cdf0b.png">

So I think something got broken in the `validate.js` script, because "validateLocationSet of unde

[2020-10-02 15:15] ankita2210 commented on #3691
Shall I add a entry for french clothes Phildar and submit a PR ?

[2020-10-02 15:21] bhousel commented on #3677
I just merged it, it's probably fine

[2020-10-02 15:21] #3677 closed

[2020-10-02 15:30] ankita2210 commented on #3677
Thank you very much for the quick support here :-)

[2020-10-02 15:32] bhousel commented on #3691
Yes please 👍

[2020-10-02 15:46] UKChris-osm commented on #3677
@ankita2210 I'm not sure if you created the Wikidata for Marc Orian, but if you did, just a quick heads up that for the entry for Facebook (in fact for all social media entries), you only need to use the name / ID of the Facebook page, and not the whole web address :)

[2020-10-02 16:09] ankita2210 commented on #3677
Yes I created the wikidata for Marc Orian . Will keep this in mind. Thanks for the tip :-)

[2020-10-02 18:00] #3691 closed

[2020-10-03 04:28] rickithadi commented on #2588
I'm keen to help for singapore

[2020-10-03 07:28] ankita2210 commented on #3163
Should I add a entry for Boltbus? @tas50

[2020-10-03 15:44] peternewman commented on #4231
Cool, a few questions/thoughts.

While I'm not just here for a free T-shirt (as hopefully my history shows: https://github.com/osmlab/name-suggestion-index/pulls?q=is%3Apr+author%3Apeternewman ), currently no-one will get them:
`Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if th

[2020-10-03 19:20] peternewman commented on #4077
I was going to have a little go at this, but it's more complicated than just `cc=cc or cc=001`, given a locationSet can include anything here:
https://github.com/osmlab/name-suggestion-index/blob/main/CONTRIBUTING.md#locationset

Plus if e.g. #4256/#4257 go in ideally you want to be able to enter a location and see if it's really in a locationSet so is Italy in Southern Europe etc.

It looks like

[2020-10-03 19:43] BalooUriza opened #4265 "Add Tulsa Transit."
Metropolitan Tulsa Transit Authority operates the bus services in Tulsa, Sand Springs, and Broken Arrow, Oklahoma.  Currently operates a single network.

[2020-10-03 22:53] UKChris-osm commented on #4231
Where did you see this? The only place I saw it was under the "legend" text, which I think is just there to be informative, and not specifically about the NSI project.

I can't answer this for certain, but I expect you are right, as the Emirates Air Line is just a single route with two points (and unlikely to expand), and doesn't need to be in the NSI - similar to how a brand with only two shops w

[2020-10-03 23:20] peternewman commented on #4231
In my profile for it, also all over the tech news and here:
https://hacktoberfest.digitalocean.com/hacktoberfest-update

You got through on grandfather rights so you're okay:

Sorry I was mostly CCing you regarding the UK rail network @UKChris-osm but thanks for the input.

Although you do get some pretty icons too, but perhaps they're mostly via wikidata rather than anything actually needing to e

[2020-10-04 04:51] Adamant36 opened #4267 "Add Bush's Chicken"
American fast food chicken chain.

https://en.wikipedia.org/wiki/Bush%27s_Chicken
https://www.wikidata.org/wiki/Q5001349

[2020-10-04 04:53] Adamant36 opened #4268 "Rename Cici's Pizza to Cicis"
Seems they changed their name.

[2020-10-04 04:55] Adamant36 opened #4269 "Add Louisiana Famous Fried Chicken"
American fried chicken fast food chain.

https://en.wikipedia.org/wiki/Louisiana_Famous_Fried_Chicken
https://www.wikidata.org/wiki/Q6689122

[2020-10-04 04:57] Adamant36 opened #4270 "Add Miami Grill"
American restaurant chain.

https://en.wikipedia.org/wiki/Miami_Subs_Grill
https://www.wikidata.org/wiki/Q6827420

[2020-10-04 05:02] Adamant36 opened #4271 "Add Cook Door"
Egyptian fast food chain.

https://en.wikipedia.org/wiki/Cook_Door
https://www.wikidata.org/wiki/Q12236500

[2020-10-04 05:04] Adamant36 opened #4272 "Add Mo'men"
Egyptian fast food sandwich shop chain.

https://en.wikipedia.org/wiki/Mo%27men
https://www.wikidata.org/wiki/Q3317535

[2020-10-04 05:06] Adamant36 opened #4273 "Add Mr Bigg's"
Nigerian fast food chain.

https://en.wikipedia.org/wiki/Mr_Bigg%27s
https://www.wikidata.org/wiki/Q955488

[2020-10-04 05:08] Adamant36 opened #4274 "Add Tantalizers"
Nigerian fast food chain.

Cuisine=nigerian

https://en.wikipedia.org/wiki/Tantalizers
https://www.wikidata.org/wiki/Q7683795

[2020-10-04 05:09] Adamant36 opened #4275 "Add Tastee Fried Chicken"
Nigerian fast food fried chicken chain.

https://en.wikipedia.org/wiki/Tastee_Fried_Chicken
http://wikidata.org/wiki/Q7687722

[2020-10-04 06:43] naveenpf opened #4276 "Add brands to nsi guide"
https://wiki.openstreetmap.org/wiki/India/Tags/NSI_Guide#Ready_for_checkin

[2020-10-04 08:07] Schokobecher commented on #4267
Done in #4277

[2020-10-04 10:30] gabrielhicks commented on #4273
I would like to work on this issue.

Thanks

[2020-10-04 10:31] Adamant36 commented on #4273
Go for it 👍

[2020-10-04 11:35] 29parthi commented on #4274
can i work on this issue

[2020-10-04 11:44] #4267 closed

[2020-10-04 12:04] 29parthi commented on #4274
#4282

[2020-10-04 12:58] UKChris-osm commented on #4231
I've had a look at the [hacktoberfest web site](https://hacktoberfest.digitalocean.com/hacktoberfest-update) and added a topic tag to the Name Suggestion Index, not sure if there is anything else that needs doing to achieve validity on our side?

I look at Network Rail track in the same way as I would Highways England roads, in that they they own and maintain the physical network, and operate them

[2020-10-04 13:01] gabrielhicks commented on #4268
I will do this

[2020-10-04 13:07] gabrielhicks commented on #4268
#4284

[2020-10-04 13:13] Adamant36 commented on #4276
Just a suggestion, but unless you plan to do the PR yourself it might be better to close this and open individual issues for the brands. Otherwise, it might be awhile before they are all added.

[2020-10-04 13:16] ryuzaki221 commented on #4272
I would like to help with this

[2020-10-04 13:18] Adamant36 commented on #4272
Go for it.

[2020-10-04 13:26] #4270 closed

[2020-10-04 13:26] #4271 closed

[2020-10-04 13:29] #4269 closed

[2020-10-04 13:30] #4275 closed

[2020-10-04 13:48] #4268 closed

[2020-10-04 14:13] Adamant36 commented on #4274
Closed in #4282

[2020-10-04 14:13] #4274 closed

[2020-10-04 14:16] Adamant36 opened #4285 "Add Kilimanjaro"
Nigerian fast food chain.

Country code: ng

https://en.wikipedia.org/wiki/Kilimanjaro_(restaurant)
https://www.wikidata.org/wiki/Q28453128

[2020-10-04 14:18] 29parthi commented on #4285
i would like to pick this issue

[2020-10-04 14:18] Adamant36 opened #4286 "Add Chicken Republic"
Nigerian fast food chicken chain.

Country code: ng

https://en.wikipedia.org/wiki/Chicken_Republic
https://www.wikidata.org/wiki/Q23461416

[2020-10-04 14:20] Adamant36 commented on #4285
Thanks. Go for it. BTW, you don't really have to ask or let us know ahead of time do a PR for anything. Just make sure it's not something that already has a PR open for it.

[2020-10-04 14:23] Adamant36 opened #4287 "Add Chicken Licken"
South African fast food fried chicken chain.

Country code: za

https://en.wikipedia.org/wiki/Chicken_Licken_(restaurant)
https://www.wikidata.org/wiki/Q23461416

[2020-10-04 14:30] TheDynamicPunk commented on #4287
I would like to take up this issue. Please help further I'm new to Open Source. Hoping to learn something positive here!

[2020-10-04 15:55] UKChris-osm commented on #4287
@Adamant36 I think the Wikidata for this one should be [Q4164819](https://www.wikidata.org/wiki/Q4164819)

[2020-10-04 16:02] lakedistrictOSM opened #4290 "Add Bodycare, Ramsdens, Klass, Neon Sheep and Greenhalgh's 🇬🇧"
locationSet ["gb"] for all of the below:

- [x] brand=Ramsdens
       brand:wikidata=Q99938502
       name=Ramsdens
       shop=pawnbroker

- [x] brand=Klass
       brand:wikidata=Q99938733
       name=Klass
       shop=clothes
- [x] brand=Greenhalgh's
       brand:wikidata=Q99939079
       name=Greenhalgh's
       shop=bakery
- [x] brand=Bodycare
       brand:wikidata=Q99938329
       name=Bodyca

[2020-10-04 16:35] UKChris-osm commented on #4286
Merged via #4292

[2020-10-04 16:35] #4286 closed

[2020-10-04 16:36] TheDynamicPunk commented on #4287
@UKChris-osm Yeah you're right that's what I was about to comment

[2020-10-04 16:46] peternewman commented on #4231
Yeah that's done the trick for mine thanks, they're now just saying they're waiting merging/review as I'd expect.

Yeah that seems sense if you can get everyone to change. :laughing:

Not **National** Rail, that sort of looks more relevant here to me:
https://en.wikipedia.org/wiki/National_Rail#National_Rail_and_Network_Rail

I guess relations would also deal with stations where services don't sto

[2020-10-04 17:10] UKChris-osm commented on #4290
Added Ramsdens via [5f50e32](https://github.com/osmlab/name-suggestion-index/commit/5f50e32f6dc74334fb408cb69a76c86b201370b5)

[2020-10-04 17:27] UKChris-osm commented on #4290
Added Klass via [ceed8f0](https://github.com/osmlab/name-suggestion-index/commit/ceed8f08d44f52da335c1c6b0b4eb44305f81ed3)

[2020-10-04 18:17] 29parthi commented on #4285
#4295

[2020-10-04 18:29] ryuzaki221 commented on #4272
#4296
I ran `npm run build` to generate the id. Hope that wasn't a thing

[2020-10-04 18:32] UKChris-osm commented on #4287
Merged via #4293

[2020-10-04 18:32] #4287 closed

[2020-10-04 18:34] TheDynamicPunk commented on #4273
@Adamant36 Is this being worked upon? Or can I move ahead with it?

[2020-10-04 18:43] gabrielhicks commented on #4273
@TheDynamicPunk you got it! I asked for it either but did a different one so have at it!

[2020-10-04 20:13] UKChris-osm commented on #4285
Merged via [f02bea0](https://github.com/osmlab/name-suggestion-index/commit/f02bea05da393523ec05589c936f00b0cdb67a31)

[2020-10-04 20:13] #4285 closed

[2020-10-04 21:42] danih0311 commented on #3157
I could do a german translation, if you want to.

[2020-10-04 21:55] TheDynamicPunk commented on #4273
Thanks @gabrielhicks , I've added it and issued a pull request!

[2020-10-04 23:19] bhousel commented on #3157
Oh, I jut removed these a few days ago.. they were too hard to keep updated 😢

[2020-10-04 23:19] #3157 closed

[2020-10-05 01:09] Adamant36 commented on #4273
Closed in #4298.

[2020-10-05 01:09] #4273 closed

[2020-10-05 01:12] Adamant36 commented on #4212
@kjonosm could you turn your original comment into a check list and check off the ones that have been done?

[2020-10-05 02:30] cr33dx commented on #4290
@UKChris-osm where should body care data be at ?

[2020-10-05 03:40] Adamant36 opened #4303 "Add Fairwood"
Chinese and American fast food chain located in Hong Kong.

https://en.wikipedia.org/wiki/Fairwood_(restaurant)
https://www.wikidata.org/wiki/Q5430935

[2020-10-05 03:48] Adamant36 opened #4304 "Add Goli Vada Pav"
Indian fast food restaurant chain.

https://en.wikipedia.org/wiki/Goli_Vada_Pav
https://www.wikidata.org/wiki/Q5580697

[2020-10-05 03:54] Adamant36 opened #4305 "Add Jumbo King"
Indian fast food burger restaurant chain.

https://en.wikipedia.org/wiki/Jumbo_King
https://www.wikidata.org/wiki/Q6310895

BTW, there might or might not be a space in the name. It looks like OSM favors it without a space though, but then it's mixed on if the K should be in lower or upper case. So 🤷‍♂️

[2020-10-05 03:58] Adamant36 opened #4306 "Add KaatiZone"
Indian cuisine fast food chain located in India.

https://en.wikipedia.org/wiki/KaatiZone
https://www.wikidata.org/wiki/Q6343638

[2020-10-05 04:01] Adamant36 opened #4307 "Add Saravana Bhavan"
Global vegetarian restaurants serving Indian cuisine.

https://en.wikipedia.org/wiki/Saravana_Bhavan
https://www.wikidata.org/wiki/Q3528082

[2020-10-05 04:04] Adamant36 opened #4308 "Add Smokin' Joe's"
Pizza fast food restaurant chain located in India and Oman.

https://en.wikipedia.org/wiki/Smokin%27_Joe%27s
https://www.wikidata.org/wiki/Q7546011

.

[2020-10-05 05:56] TheDynamicPunk commented on #4308
@Adamant36 I am working on it!

[2020-10-05 07:10] SBhattacharya45 commented on #4306
I'm working on this

[2020-10-05 07:47] Adamant36 opened #4311 "Add Wow! Momo"
Indian fast food chain.

Cuisine=momo

https://en.wikipedia.org/wiki/Wow!_Momo
https://www.wikidata.org/wiki/Q8037446

[2020-10-05 07:52] Adamant36 opened #4312 "Add California Fried Chicken"
Indonesian fried chicken fast food chain. Going by the numbers it would be better to go with CFC for the name etc, and add California Fried Chicken with the official_name tag.

cuisine=chicken

https://en.wikipedia.org/wiki/California_Fried_Chicken
https://www.wikidata.org/wiki/Q5020502

[2020-10-05 07:57] Adamant36 opened #4313 "Add HokBen"
Indonesian fast food chain. So it goes in the fast food file.

cuisine=japanese

Also, it would be good to have a match name for Hoka Hoka Bento.

https://en.wikipedia.org/wiki/HokBen
https://www.wikidata.org/wiki/Q5877948

[2020-10-05 08:05] TheDynamicPunk commented on #4311
Working on it!

[2020-10-05 09:14] pivovarnikj commented on #4304
Hi, can i work on this issue?

[2020-10-05 09:19] Adamant36 commented on #4304
Sure. Go for it.

[2020-10-05 09:44] valdaarhun commented on #4312
Hi. I would like to work on this.

[2020-10-05 09:53] Adamant36 commented on #4312
Closed in 4312. Sorry @valdaarhun, but someone already did. Feel free to work on another issue though.

[2020-10-05 09:53] #4312 closed

[2020-10-05 09:54] valdaarhun commented on #4312
@Adamant36 No problem. Thanks for letting me know.

[2020-10-05 09:59] valdaarhun commented on #4307
Hi. I would like to work on this. Doesn't look like there have been any PRs on this one.

[2020-10-05 10:06] Adamant36 commented on #4311
Closed in #4315

[2020-10-05 10:06] #4311 closed

[2020-10-05 10:07] Adamant36 commented on #4308
Closed in #4308

[2020-10-05 10:07] #4308 closed

[2020-10-05 10:10] UKChris-osm commented on #4290
I would suggest **Bodycare** is better suited to "_shop/cosmetics_", as it seems to be a similar type of shop to **The Body Shop** which is already in that same category.

[2020-10-05 10:11] Adamant36 commented on #4306
Done in #4310. Although, I'm going to wait for now to merge it.

[2020-10-05 10:19] Adamant36 commented on #4306
Done in #4310 since I decided to merge it.

[2020-10-05 10:19] #4306 closed

[2020-10-05 10:23] Adamant36 opened #4321 "Add Kebab Turki Baba Rafi"
Global fast food kebab chain. It's also known as KTBR. It would probably be better to have that as the name etc and do official_name=Add Kebab Turki Baba Rafi for the full name.

It goes in the fast food file.
cuisine=kebab
https://en.wikipedia.org/wiki/Kebab_Turki_Baba_Rafi
https://www.wikidata.org/wiki/Q6382370

[2020-10-05 10:25] UKChris-osm commented on #4272
Merged via #4296

[2020-10-05 10:25] #4272 closed

[2020-10-05 10:29] SBhattacharya45 commented on #4321
working on this

[2020-10-05 10:34] Adamant36 opened #4322 "Add Rotiboy"
Global bakery chain.

https://en.wikipedia.org/wiki/Rotiboy
https://www.wikidata.org/wiki/Q2168802

[2020-10-05 10:40] Adamant36 opened #4323 "Add Tokyo Tokyo"
Japanese fast food restaurant chain located in the Philippines.

This goes in the fast food file.
cuisine=japanese
https://en.wikipedia.org/wiki/Tokyo_Tokyo
https://www.wikidata.org/wiki/Q7814003

[2020-10-05 10:53] Adamant36 commented on #4321
Closed in #4324.

[2020-10-05 10:53] #4321 closed

[2020-10-05 11:06] lakedistrictOSM commented on #4290
I'd disagree. Their shops tend to sell a wide range of toiletries (shampoo, toothpaste, first aid items, medicines, make up, healthcare products etc) rather than just or primarily cosmetics. The wiki definition for shop=chemist https://wiki.openstreetmap.org/wiki/Tag:shop%3Dchemist "A shop selling articles of personal hygiene, cosmetics, and household cleaning products." seems the best fit.

The w

[2020-10-05 11:19] Adamant36 commented on #4307
Closed in #4325

[2020-10-05 11:19] #4307 closed

[2020-10-05 12:04] londonjob commented on #4305
added in https://github.com/osmlab/name-suggestion-index/pull/4291

[2020-10-05 12:22] londonjob commented on #4322
added here https://github.com/osmlab/name-suggestion-index/pull/4329

[2020-10-05 12:44] TheDynamicPunk commented on #4303
taken

[2020-10-05 13:08] bhavesh0206s commented on #4313
hi @Adamant36
I would like to work on this issue.

[2020-10-05 13:20] #4323 closed

[2020-10-05 13:36] #4305 closed

[2020-10-05 13:40] rjw62 commented on #3979
FYI, there's now a specific Wikidata entry for B&M Express: https://www.wikidata.org/wiki/Q99640578 , so the NSI entry could be amended to use that.

[2020-10-05 13:46] #4303 closed

[2020-10-05 14:03] ashutoshshisodia commented on #4313
Hey I am working on this issue, will be done in some time hopefully! I have a query though, from where we get the "id" ?

[2020-10-05 14:05] bhousel commented on #3979
ok I switched the qid in 12794c7d - that wikidata page looks a bit empty, so it would be great for you to add some more info to it so that the Wikidata community doesn't remove the page.

[2020-10-05 14:18] peternewman commented on #2864
Should this be closed now #4231 is in?

[2020-10-05 14:27] bhousel commented on #2864
I forgot all about this issue!  But yeah we should definitely circle back and make sure that the #4231 and recent changes to NSI are addressing the ideas here.  It sounds like we're doing most of this now.

[2020-10-05 14:29] peternewman opened #4337 "Validate/lookup operator:wikidata from brand:wikidata/network:wikidata"
Using the Operator key in the wikidata.

Or is this done already?

[2020-10-05 14:36] ashutoshshisodia commented on #4304
Hey @Adamant36  please review.

[2020-10-05 14:43] TheDynamicPunk commented on #4322
@Adamant36 Please close this issue :)

[2020-10-05 14:43] bhousel commented on #4337
For `transit/` subtree I'm considering `network`/`network:wikidata` the primary identifying tags..
If there is an `operator` value that matches the `network` value, the script will also copy over
* `network:wikidata`->`operator:wikidata`
* `network:wikipedia` -> `operator:wikipedia`

This is just based on what I saw looking at how things generally look to be tagged in OSM.   I know that the `opera

[2020-10-05 14:46] TheDynamicPunk commented on #4313
@ashutoshshisodia _"id"_ is automatically generated when you run command `npm run build` in the terminal

[2020-10-05 14:52] ashutoshshisodia commented on #4313
Hey @TheDynamicPunk  thank you so much, although I figured it out. :) Thanks again.

[2020-10-05 14:52] peternewman commented on #4337
Ah cool.

It does.

I was suggesting that you could also query Wikidata to see if this is set on the network:
https://www.wikidata.org/wiki/Property:P137

And then use it to fetch potentially some or all of the operator stuff if blank.

For example this one:
https://www.wikidata.org/wiki/Q271195

[2020-10-05 14:57] TheDynamicPunk commented on #4313
@ashutoshshisodia nice! Also I'd like to suggest that it's always a good practice to make sure someone else isn't working on an issue before filing a PR for it. It helps reduce redundancy and makes it easy for everyone to collaborate! Cheers :)

[2020-10-05 14:59] ashutoshshisodia commented on #4313
Hey @TheDynamicPunk , sorry I'm new to this.l will keep this in mind. Thank you so much.

[2020-10-05 15:09] bhousel commented on #4313
Thanks all for your enthusiasm closing issues for us, you are awesome 👏

[2020-10-05 15:09] #4313 closed

[2020-10-05 15:09] #4304 closed

[2020-10-05 15:11] TheDynamicPunk commented on #4231
Hey @peternewman, Just wanted to know if your merged PRs are still in review in Hacktoberfest website? Cuz mine are still stuck in Review even though they are already merged? What can I do?

[2020-10-05 15:12] UKChris-osm commented on #3437
@rjw62 as a seasoned mapper, do you have any input on how best to tag up Timpson?

[2020-10-05 15:16] bhousel commented on #4231
Yes my profile shows a similar thing.  It looks like the review period lasts up to 14 days.  As long as the PR is merged by us, it will eventually be accepted for credit.

[2020-10-05 15:59] cr33dx commented on #4290
@UKChris-osm @lakedistrictOSM so cosmetics or chemist?

[2020-10-05 16:17] bhousel commented on #4290
It sounds like the UK folks have settled on `shop=chemist` , and I agree if Bodycare also sells things like toothpaste, first aid, medicine, etc.

It's worth mentioning that we already match group these tags because they are so similar:
[code]

Meaning - if someone did tag a Bodycare as `shop=convenience` or `shop=cosmetics`, the matcher would still match the entry and suggest that the user switch

[2020-10-05 16:23] TheDynamicPunk commented on #4231
The thing I'm concerned about is if it's for everyone or is it something because I or we in this repo are doing wrong, which is keeping us from qualifying. I'm concerned not because I won't get a T-shirt but mainly because it'll hurt to be notified after 14 days that our PRs might not count due to some issues. I hope Digital Ocean provides some update to make this clear 😅

[2020-10-05 16:26] TheDynamicPunk commented on #4313
@bhousel I'm pumped to be a part of this community! Cheers everyone! 😉

[2020-10-05 16:42] camilorecce commented on #4290
Added Bodycare: 99c5e49ca423f16805008ab6fd73d3230bfd9889

[2020-10-05 16:45] lakedistrictOSM commented on #4290
Thanks @UKChris-osm, @cr33dx and @camilorecce for adding these 😃

[2020-10-05 16:45] #4290 closed

[2020-10-05 17:06] UKChris-osm commented on #4290
Bodycare merged via #4344

I initially went for "_cosmetics_" as that's all they seem to list on their web site :)

[2020-10-05 17:51] rjw62 commented on #3437
I don't know whether all Timpson's are the same in terms of their range of services. The size of store can vary a bit, from a small counter as a concession within by local Tesco, to a bigger shop like the one in https://s1.geograph.org.uk/geophotos/06/60/06/6600689_9189e3f6_original.jpg .

Certainly for a shop where I thought the business was shoe repairs and key cutting I would use "shop"="key_cu

[2020-10-05 18:10] bhousel commented on #4337
Ok, that makes sense, thanks!
A thing I'd be worried about is whether the Wikidata P137 operator is always used in the same wasy as the OpenStreetMap `operator` tag.

I think I might start out by running some queries to see how closely these concepts match up.  I agree that it would be great to set OpenStreetMap `operator` in cases where it is missing.

[2020-10-05 18:25] Identitaet commented on #4231
[code]

and for that also changed the time for a pr to be counted to 14 days

[2020-10-05 18:26] Identitaet commented on #4231
basically they changed the rules on the 3rd october

[2020-10-05 22:02] peternewman commented on #4231
I was going to suggest @bhousel tried tagging one of their PRs, but looking at their code it doesn't make a difference, you just have to wait 14 days for them to become eligible currently, even if they've been merged. I think if @bhousel was feeling really mean he could retrospectively tag them as invalid before the 14 day window expires if we haven't kept updating transit for the rest of October!

[2020-10-06 05:14] TheDynamicPunk commented on #2588
Not a local, but can help you guys with things related to India

[2020-10-06 06:04] TheDynamicPunk commented on #4231
Lol. Yeah maybe, but it seems like nothing much we can do, so it's a suspense if I'll even be eligible or not 😅

By the way I was thinking of continuing this conversation (regarding Hacktoberfest) in it's own separate issue so as not to pollute this issue further. Should I create a separate issue where we all can talk Hacktoberfest or share any updates? @bhousel @peternewman

[2020-10-06 06:58] Adamant36 opened #4352 "Add Shawarmer"
Saudi Arabian fast food chain. Goes in the fast food file.

cuisine=shawarma

https://en.wikipedia.org/wiki/Shawarmer
https://www.wikidata.org/wiki/Q29509653

[2020-10-06 07:01] Adamant36 opened #4353 "Add Albaik"
Saudi Arabian fast food chicken chain. Goes in the fast food file.

name:en=Albaik
name:ar=البيك‎
(Same for brand tags)

cuisine=chicken

https://en.wikipedia.org/wiki/Albaik
https://www.wikidata.org/wiki/Q4703536

[2020-10-06 07:03] Adamant36 opened #4354 "Add Al Tazaj"
Fast food chicken restaurant chain located in Saudi Arabia and the UAE. Goes in the fast food file.

cuisine=chicken

name:en=Al Tazaj
name:ar=الطازج‎
(same for brand tags)

https://en.wikipedia.org/wiki/Al_Tazaj
https://www.wikidata.org/wiki/Q4704878

[2020-10-06 07:06] Adamant36 opened #4355 "Add Old Chang Kee"
Fast food chain located in Singapore. Goes in the fast food file.

name:en=Old Chang Kee
name:zh=老曾记
(same for brand tags)

https://en.wikipedia.org/wiki/Old_Chang_Kee
https://www.wikidata.org/wiki/Q17005286

[2020-10-06 07:08] TheDynamicPunk commented on #4352
I'm taking this

[2020-10-06 07:12] Adamant36 opened #4356 "Add Sakae Sushi"
Fast food sushi chain located in Singapore. So, it goes in the fast food file.

name:en=Sakae Sushi
name:ja=栄寿司
(same for brand tags)

cuisine=japanese

https://en.wikipedia.org/wiki/Sakae_Sushi
https://www.wikidata.org/wiki/Q14955169

[2020-10-06 07:19] Adamant36 opened #4357 "Add Tom N Toms"
South Korean coffee shop chain.

name:en=Tom N Toms
name:ko=탐앤탐스
(also with the brand tags)

https://en.wikipedia.org/wiki/Tom_N_Toms
https://www.wikidata.org/wiki/Q18142418

[2020-10-06 07:27] #4352 closed

[2020-10-06 07:33] Adamant36 opened #4359 "Add Rolls"
Fast food hamburger chain located in Finland. So, it goes in the fast food file.

cuisine=burger

https://en.wikipedia.org/wiki/Rolls_(restaurant_chain)
https://www.wikidata.org/wiki/Q3195068

[2020-10-06 07:58] Hisime commented on #4359
Please assign it to me

[2020-10-06 08:02] Adamant36 commented on #4359
Hi there. We don't assign things to people. So, your free to do a PR if there isn't already one for it.

[2020-10-06 09:46] TheDynamicPunk commented on #4357
Working on it

[2020-10-06 10:16] TheDynamicPunk commented on #4357
@Adamant36 I have to add it to _**brands/shop/coffee**_ right?

[2020-10-06 10:39] Adamant36 commented on #4231
Hey now, there's nothing wrong with getting a free T-shirt. I got a cool purple one and some stickers a few Hacktoberfests ago. I signed up for it last year as a calibrator to see if I could score another one, but unknown to me at the time they don't count merging other people's PRs 🤦‍♂️ Anyway, the time it worked it took them like a month to register the PRs and send me the shirt. So I wouldn't e

[2020-10-06 11:18] TheDynamicPunk commented on #4231
Hey @Adamant36, Sorry for sounding a bit impatient, it's just that it's my first time and I really appreciate someone like you with prior experience sharing your experience with us... Thanks! Happy hacktober everyone!

[2020-10-06 13:26] hambali999 commented on #4355
Hey Can you assign me? XD I am interested and doo add the label 'hacktoberfest'

[2020-10-06 13:30] Adamant36 commented on #4355
Hi there. Thanks for the interest. We don't assign people things. So you can just do a PR for it if you want to and there already isn't one. With the hacktoberfest label, it doesn't need to be added.

[2020-10-06 13:31] bhousel commented on #4231
Yeah I'm not worried - it's only October 6th.

If in 14ish days the contributions don't start showing up as accepted on people's profiles, I will add the label to all the old accepted PRs.  I just don't want to do it now because it makes a bunch of extra work for us.

[2020-10-06 13:44] #4265 closed

[2020-10-06 14:27] TheDynamicPunk commented on #4357
@bhousel Can you help please?

[2020-10-06 15:04] bhousel commented on #4357
no sorry, please add it to [brands/amenity/cafe](https://github.com/osmlab/name-suggestion-index/blob/main/data/brands/amenity/cafe.json)

OpenStreetMap draws a distinction between
* `amenity=cafe` - coffeehouses where people primarily go to drink coffee
* `shop=coffee` - retail store where people primarily go to buy beans

[2020-10-06 15:43] bhousel commented on #3154
Bumping this issue as some things have changed in the past year.

Now that we have semi-stable identifiers, and the `build_wikidata.js` script is _updating_ wikidata to have P8253 claims, I am noticing some stuff.  Sometimes QIDs get merged/redirected.  There are a few in this situation where our index has the old one, we try to update, and we get an error in the script.

* [Q56599145](https://www

[2020-10-06 16:09] bhousel commented on #3154
related to #98 "producing lists for cleanup"

[2020-10-06 16:10] bhousel commented on #4359
done in #4361

[2020-10-06 16:10] #4359 closed

[2020-10-06 16:54] TheDynamicPunk commented on #4357
Okay thanks👍

[2020-10-06 20:50] peternewman commented on #4337
Or perhaps just do it as part of the validation then. It could list ones where it's present but not in NSI, or different.

[2020-10-06 22:55] bclingan commented on #4356
I will try this one, looks like no one else has yet.

[2020-10-07 02:03] Adamant36 commented on #4356
Go for it.

[2020-10-07 02:04] Adamant36 commented on #4357
Sorry, I could have been more specific.

[2020-10-07 04:06] pushkar1393 commented on #4356
I am not sure how PR's are linked back to the issue in any way. So, I am adding the link here  - [](https://github.com/osmlab/name-suggestion-index/pull/4370)

[2020-10-07 05:51] Adamant36 commented on #4354
Closed in #4373

[2020-10-07 05:51] #4354 closed

[2020-10-07 07:31] 1ec5 opened #4375 "Do it Best"
[Do it Best](https://en.wikipedia.org/wiki/Do_it_Best) ([Q5286067](https://www.wikidata.org/wiki/Q5286067)) is a chain of `shop=hardware` and `shop=doityourself` stores. Some franchisees use the full “Do it Best” name, while others incorporate just “Do It” into their names.

[2020-10-07 07:34] TheDynamicPunk commented on #4357
Hey @Adamant36, No worries mate.

[2020-10-07 08:02] #4375 closed

[2020-10-07 08:29] #4353 closed

[2020-10-07 08:43] Adamant36 commented on #4355
Closed in #4371

[2020-10-07 08:43] #4355 closed

[2020-10-07 08:45] Adamant36 commented on #4356
Closed in #4370. BTW, if you say "closes" and the issue number in your PR it will automatically link them and close the issue when the PR is merged.

[2020-10-07 08:45] #4356 closed

[2020-10-07 10:25] debyos opened #4377 "Add brand: OTP bank"
Hi,

OTP bank is an international banking group based in Hungary. It operates in several countries as you can see [on its website](https://www.otpbank.hu/portal/en/AboutUs/OTPGroup) and also on [Wikipedia](https://en.wikipedia.org/wiki/OTP_Bank).

It is difficult to find all its branches because the form of the name varies (small letters and capitals, with of without "bank", written separately or

[2020-10-07 15:39] johan7004 commented on #4377
#4378 i would like to work on this

[2020-10-07 16:23] #4357 closed

[2020-10-07 17:19] trigpoint commented on #3388
Just spotted that an armchair mapper has changed my local Range to homeware and began investigating. Appears to have simply clicked yes to all iD suggestions.

It does not really fit homeware, it is much more Wilko than Dunelm. It stocks garden supplies, pet food and supplies, food along with home stuff.

Can this be fixed?

[2020-10-07 17:37] bhousel commented on #3388
Sure, what you would like it changed to?

[2020-10-07 22:15] trigpoint commented on #3388
It should be a variety_store, that is more in fitting with what they sell.

[2020-10-08 02:15] udithishara commented on #2588
Feel free to ping me for places in Sri Lanka

[2020-10-08 12:49] Adamant36 commented on #4377
OTP Bank and ОТП Банк are already in the index. Maybe they need match names or something...If you go nsi.guide and search for OTP it will come up. Then if you click on the OverPassTurbo link it likely give a bunch of miss, but closely, named POIs. Maybe that would be a place to start with figuring out the matches.

[2020-10-09 02:00] printf-ana opened #4391 "Translation for portuguese"
Hey! I'd like to translate the README file for portuguese for some of my firsts pull requests, can i?

[2020-10-09 02:33] bhousel commented on #4391
Sorry I'd prefer if people don't translate the README files.  It's too hard to keep them up-to-date as things change.

Instead maybe you can look up the details for your local transit network?  https://nsi.guide/index.html?t=transit
We are looking for pull requests to add `network:wikidata` to all of the ones that are not yet matched..

[2020-10-09 02:33] #4391 closed

[2020-10-09 05:19] Adamant36 opened #4393 "Add Mr. Pizza"
Global fast food pizza chain.

name:en=Mr. Pizza
name:ko=미스터피자
etc.

https://en.wikipedia.org/wiki/Mr._Pizza
https://www.wikidata.org/wiki/Q5361801

[2020-10-09 05:22] Adamant36 opened #4394 "Add TKK Fried Chicken"
Global fast food fried chicken chain.

cuisine=chicken

 https://en.wikipedia.org/wiki/TKK_Fried_Chicken
https://www.wikidata.org/wiki/Q15715284

[2020-10-09 05:23] Adamant36 opened #4395 "Add TKK Fried Chicken"
Global fast food fried chicken chain.

cuisine=chicken

 https://en.wikipedia.org/wiki/TKK_Fried_Chicken
https://www.wikidata.org/wiki/Q15715284

[2020-10-09 05:27] #4395 closed

[2020-10-09 05:37] Adamant36 opened #4396 "Add Eddie Rocket's"
Fast food chain located in Ireland.

Cuisine=american

https://en.wikipedia.org/wiki/Eddie_Rocket%27s
https://www.wikidata.org/wiki/Q1007312

[2020-10-09 05:41] Adamant36 opened #4397 "Add Four Star Pizza"
Fast food pizza chain located in Ireland.

cuisine=pizza

https://en.wikipedia.org/wiki/Four_Star_Pizza
https://www.wikidata.org/wiki/Q5475559

[2020-10-09 05:44] Adamant36 opened #4398 "Add Spizzico"
Global fast food pizza chain.

cuisine=pizza

https://en.wikipedia.org/wiki/Spizzico
https://www.wikidata.org/wiki/Q1419041

[2020-10-09 05:50] Adamant36 opened #4399 "Add Egon"
Restaurant chain located in Norway and Sweden.

https://en.wikipedia.org/wiki/Egon_(restaurants)
https://www.wikidata.org/wiki/Q1298438

[2020-10-09 05:53] Adamant36 opened #4400 "Add Peppes Pizza"
Pizza restaurant chain located in Norway.

cuisine=pizza

https://en.wikipedia.org/wiki/Peppes_Pizza
https://www.wikidata.org/wiki/Q911973

[2020-10-09 07:43] xhika commented on #4400
#4401

[2020-10-09 09:11] Identitaet opened #4402 "Add eurobahn"
de:Eurobahn is the network
https://de.wikipedia.org/wiki/Eurobahn
And Keolis Germany the operator
But only Keolis exists on the wiki

https://de.wikipedia.org/wiki/Keolis

Area DE&NL

[2020-10-09 09:14] Identitaet opened #4403 "add Westfalenbahn (easy)"
https://de.wikipedia.org/wiki/Westfalenbahn network
https://de.wikipedia.org/wiki/Abellio_(Unternehmen) operator
Area DE only

[2020-10-09 09:20] Identitaet opened #4404 "National express"
National Express = network
https://en.wikipedia.org/wiki/National_Express

Operator for Germany
https://de.wikipedia.org/wiki/National_Express_Holding
I guess internationally https://en.wikipedia.org/wiki/National_Express is the best (unsure tough)

[2020-10-09 09:22] Identitaet commented on #4403
Also add matchName WFL

[2020-10-09 09:27] Identitaet opened #4405 "add NordWestBahn (easy)"
Network: https://de.wikipedia.org/wiki/NordWestBahn
Operator: https://de.m.wikipedia.org/wiki/Transdev_GmbH
Match name: NWB
Area only DE

[2020-10-09 09:43] Identitaet opened #4406 "add Rhein-Ruhr-Express"
Network https://de.wikipedia.org/wiki/Rhein-Ruhr-Express
Operator https://de.wikipedia.org/wiki/Abellio_Rail_NRW
Only in DE
MatcName RRX (look if long or short form is more popular)

[2020-10-09 09:44] #4400 closed

[2020-10-09 10:03] Adamant36 commented on #4404
I almost feel like creating a label just for adding transport entries. It seems odd to use the "add brand" label with them for some reason. I feel like it should be more specific. "add transport brand" maybe? "add brand - transport"? I don't know.

[2020-10-09 10:12] xhika commented on #4393
#4407

[2020-10-09 10:12] xhika commented on #4394
#4407

[2020-10-09 10:12] xhika commented on #4396
#4407

[2020-10-09 10:13] xhika commented on #4398
#4407

[2020-10-09 10:13] xhika commented on #4397
#4407

[2020-10-09 10:13] xhika commented on #4399
#4407

[2020-10-09 10:16] Hisime commented on #4405
https://github.com/osmlab/name-suggestion-index/pull/4408

[2020-10-09 10:17] debyos opened #4409 "add Raiffeisen Hungary"
You can add the [Hungarian](https://overpass-turbo.eu/s/YS1) branch of [Raiffeisen Bank](https://www.raiffeisen.hu/web/english).

It is a bit unclear, when to distinguish between local branches of a brand (e.g. there are 7 Raiffeisens) and when to use them as one entity for more countries (e.g. a [global Unicredit bank (comprising also Bulgaria)](https://overpass-turbo.eu/?Q=%5Bout%3Ajson%5D%5Btim

[2020-10-09 10:20] debyos opened #4410 "add MKB in Hungary"
I think, this will be an easy entry: MKB Bank in Hungary:

- https://hu.wikipedia.org/wiki/MKB_Bank
- https://www.wikidata.org/wiki/Q916185
- https://www.mkb.hu/
- https://overpass-turbo.eu/s/YS3

[2020-10-09 10:22] Identitaet commented on #4404
I'd suggest we go with transit to be consistent but yeah sounds good

[2020-10-09 10:23] Adamant36 commented on #4393
closed in #4407

[2020-10-09 10:23] #4393 closed

[2020-10-09 10:24] Adamant36 commented on #4404
Yeah, I hadn't noticed we were going with "transit" until after I wrote the message. Consistent is good though.

[2020-10-09 10:24] Adamant36 commented on #4394
Closed in #4407

[2020-10-09 10:24] #4394 closed

[2020-10-09 10:25] Adamant36 commented on #4396
Closed in #4407

[2020-10-09 10:25] #4396 closed

[2020-10-09 10:25] Adamant36 commented on #4398
Closed in #4407

[2020-10-09 10:25] #4398 closed

[2020-10-09 10:25] Adamant36 commented on #4397
Closed in #4407

[2020-10-09 10:25] #4397 closed

[2020-10-09 10:25] Adamant36 commented on #4399
Closed in #4407

[2020-10-09 10:25] #4399 closed

[2020-10-09 10:30] KennethYoel commented on #4402
Ok, I'll try to add it. I think my German is good enough.

[2020-10-09 10:34] Adamant36 commented on #4409
Usually either when there's different social media accounts and/or Wikidata/Wikipedia entries, or in cases where we want to create a unique entry for a brand not in it's "native" language. For instance with Starbucks, McDonald's etc. and their separate Chinese entries. I'm pretty sure in those cases we create separate Wikidata entries for them also. Which is what we have done with Raiffeisenbank.

[2020-10-09 10:49] Adamant36 opened #4412 "Add Frasses"
Fast food hamburger chain located in Sweden.

cuisine=hamburger

https://sv.wikipedia.org/wiki/Frasses_(hamburgerkedja)
https://www.wikidata.org/wiki/Q3374476

[2020-10-09 10:54] Adamant36 opened #4413 "Add Chicken Cottage"
Fast food chicken restaurant chain in the UK. Goes in the fast food file. Country code is gb.

cuisine=chicken

https://en.wikipedia.org/wiki/Chicken_Cottage
https://www.wikidata.org/wiki/Q5096233

[2020-10-09 11:02] Adamant36 opened #4415 "Add Sam's Chicken"
Fast food chicken restaurant chain located in the United Kingdom. It goes in the fast food file. Country code is gb.

cuisine= chicken

https://en.wikipedia.org/wiki/Sam%27s_Chicken
https://www.wikidata.org/wiki/Q24439129

[2020-10-09 11:11] Adamant36 opened #4416 "Add Southern Fried Chicken"
Global fast food fried chicken chain.

cuisine=chicken

https://en.wikipedia.org/wiki/Southern_Fried_Chicken
https://www.wikidata.org/wiki/Q7569934

[2020-10-09 11:16] Adamant36 opened #4417 "Add Tortilla"
Fast food restaurant chain located in the UK, UAE, and Saudi Arabia.

cuisine=tex-mex

https://en.wikipedia.org/wiki/Tortilla_(restaurant_chain)
https://www.wikidata.org/wiki/Q21006828

[2020-10-09 11:19] Adamant36 opened #4418 "Add Chefette"
fast food restaurant chain located in Barbados. Goes in the fast file. Country code is bb.

cuisine=chicken

https://en.wikipedia.org/wiki/Chefette
https://www.wikidata.org/wiki/Q5089525

[2020-10-09 12:18] Identitaet commented on #4402
Okay since Keolis Germany is a direct subsidiary and only exists for legal reasons that seems acceptable to just use Keolis

[2020-10-09 12:26] #4402 closed

[2020-10-09 12:35] xhika commented on #4418
#4421

[2020-10-09 13:02] #4418 closed

[2020-10-09 13:04] bhousel commented on #4406
I think `"network:short"="RRX"` seems to be the convention for tagging the acronyms, at least in Germany.  cc @Karthoo

[2020-10-09 13:40] bhousel commented on #4409
Looking at https://nsi.guide/index.html?t=brands&k=amenity&v=bank and filtering on "raiffeisen" it looks like most of the local country raiffeisenbank's have their own wikidata set up, so it seems like Hungary should also.

[2020-10-09 14:02] #4413 closed

[2020-10-09 14:36] #4405 closed

[2020-10-09 16:08] pyrog commented on #4136
Hi Brian,

Just an explanation from this side of the Atlantic 😃

Brand mean (profit) company, GAFAM…
Emmaüs is a non profit, a charity association.

So at least french couldn't use brand 😅

[2020-10-09 16:22] pyrog opened #4426 "Add France Literie"
[code]
Currently 23 / 87 shops in France https://overpass-turbo.eu/s/YSZ

[2020-10-09 16:27] bhousel commented on #4136
@pyrog You can see from here that there are quite a lot of charity shops, blood banks, social facilities, (on both sides of the Atlantic) using the `brand` tag in this way:
https://nsi.guide/index.html?t=brands&k=shop&v=charity
https://nsi.guide/index.html?t=brands&k=healthcare&v=blood_donation
https://nsi.guide/index.html?t=brands&k=amenity&v=social_centre

Brand really doesn't mean "for profit c

[2020-10-09 16:42] pyrog opened #4427 "Add Chateau d'Ax"
[code]
Currently 33 / 59 shops in France https://overpass-turbo.eu/s/YT4

Countries
[code]

[2020-10-09 17:15] Identitaet opened #4428 "how do I add objects which are different and have the same wiki article ?"
I was trying to add https://de.wikipedia.org/wiki/Bahnhofsmission (train station social facilities)
The german one is called Bahnhofsmission and the Austrian is called Bahnhofsozialdienst and there is also a dutch one called Stationswerk now all those are different organisation but the Austrian and German share the same wiki article and all three have the same wikidata

What do ?

[2020-10-09 17:15] TheDynamicPunk commented on #4417
I'm working on this. Bu the way I'm just curious how's tex-mex different from italian? I mean the first search I did on Google and it showed pics of pasta and some mediterranean dishes 😅

[2020-10-09 17:17] Identitaet opened #4429 "Use GitHub actions to run npm build"
This might allow us to get rid of all the hassle with multipl people editing etc.

[2020-10-09 17:23] bhousel commented on #4429
Sorry, but I'm pretty against automating `npm run build`.  I've never seen this approach work well in practice, and the build process produces useful warnings and generates ids.  It's a script that takes seconds to run, so I don't mind doing it whenever I'm touching the project.

[2020-10-09 17:23] #4429 closed

[2020-10-09 17:32] #4426 closed

[2020-10-09 17:33] TheDynamicPunk commented on #4416
Working on it!

[2020-10-09 17:34] Identitaet commented on #4429
okay seems reasonable
And it hasn't cause big issues

[2020-10-09 17:38] bhousel commented on #4428
I'd just go by however it makes most sense to map these things in OSM.  If each country needs to map them a little differently, they can have different items as long as they have different `locationSet` and `displayName`.  It might look like this?:

[code]

[2020-10-09 17:40] TheDynamicPunk commented on #4416
Do I have to add each and every one of them? Also if yes, where do I find the specific countries where it's present?

[2020-10-09 17:45] bhousel commented on #4417
Their website https://www.tortilla.co.uk/ shows burritos 🌯   , so `tex-mex` seems reasonable to me.

here's some links to help choose the best OSM cuisine tag:
https://wiki.openstreetmap.org/wiki/Key:cuisine
https://taginfo.openstreetmap.org/keys/cuisine#values

[2020-10-09 17:48] TheDynamicPunk commented on #4417
Oh okay, thanks @bhousel!

[2020-10-09 18:55] Identitaet commented on #4428
Okay but it's no problem if they have the same wikidata 👍

[2020-10-09 18:58] #4428 closed

[2020-10-09 19:00] pyrog commented on #4426
Thank you 😃

[2020-10-09 19:52] TheDynamicPunk commented on #4415
I'm working on it

[2020-10-09 20:37] TheDynamicPunk commented on #4412
I'll do it

[2020-10-10 00:15] Adamant36 commented on #4416
No just put 001. I think that's location code for the globe.

[2020-10-10 00:19] #4417 closed

[2020-10-10 00:20] #4416 closed

[2020-10-10 00:57] #4412 closed

[2020-10-10 03:33] #4415 closed

[2020-10-10 13:13] joey2031 commented on #4427
Hello, I would like to work on this issue, is that ok?

[2020-10-10 13:28] Robot8A opened #4436 "`npm run wikidata` is adding duplicate P8253 Name-Suggestion-Index Identifier claim values"
See https://www.wikidata.org/w/index.php?title=Q98456614&action=history

[2020-10-10 13:53] Identitaet commented on #4427
Yes it's okay

[2020-10-10 14:13] joey2031 commented on #4427
I just have some questions:
1. I can't find a wiki page for this company, do I just take out the "brand:wikipedia"?
2. Some countries where not on the wiki with the iso codes so I googled them and got this result:
Mozambico: MZ, Portogallo: PRT, Reunion Island: RE, Taiwan: TWN
[code]

[2020-10-10 15:06] Identitaet commented on #4427
1. Yes

2.
Taiwan is just TW
Reunion Island is RE
and the other ones seem to just be duplicates due to translation in Itallian
Portogallo = Portugal with the country code PT
Mozambico = Mozambique with the country code MZ

[2020-10-10 15:15] #4276 closed

[2020-10-10 15:25] joey2031 commented on #4427
Thanks!  Just submitted a PR. If there is anything I missed just let me know! Have a great day.

[2020-10-10 15:37] #4427 closed

[2020-10-10 15:41] bhousel commented on #4427
Thanks @joey2031 !

I keep these pages bookmarked to lookup the codes:

code | url
--- | ---
Countries / ISO 3166-1 | https://en.wikipedia.org/wiki/List_of_countries_by_United_Nations_geoscheme
Regions / M.49 |  https://en.wikipedia.org/wiki/UN_M49

Sometimes it can be easier to use the region codes instead of adding a whole lot of country codes.  Either way is fine.

[2020-10-10 15:43] #4410 closed

[2020-10-10 15:49] bhousel commented on #4436
Yes, that is what the script does.. Why do you want to remove it?

[2020-10-10 15:54] bhousel commented on #4436
Oh sorry, I realize now what you mean.  It's adding duplicates and it shouldn't do that.

[2020-10-10 18:40] debyos opened #4443 "add Reál"
Hi, this is will be another easy entry. Reál is a Hungarian retail chain:
- https://real.hu/
- https://hu.wikipedia.org/wiki/Re%C3%A1l_Hung%C3%A1ria_%C3%89lelmiszer_Kereskedelmi_Kft.
- http://overpass-turbo.eu/s/YUm (~270 shops in Hungary on the map)

[2020-10-10 19:16] Identitaet commented on #4436
So looking around it seems to only be a problem for this item (as far as I did look at least)

[2020-10-10 22:08] peternewman commented on #4436
It's not because there are two entries for the `brand:wikidata` is it:
https://nsi.guide/?t=brands&k=shop&v=confectionery&tt=Q98456614

But both linking to the same item, compared to e.g. Tesco, which have that, but not in the same category:
https://nsi.guide/index.html?t=brands&k=shop&v=convenience&tt=tesco

Nope, because M&S does that properly:
https://nsi.guide/index.html?t=brands&k=shop&v=depa

[2020-10-10 22:45] shubh710 commented on #4403
Hi @Identitaet ,
I would like to work on this but a little guidance will be required as I am new to OSS.

[2020-10-10 22:56] shubh710 commented on #4443
Hi @debyos
I would like to work on this, I might require some guidance though.
Thanks.

[2020-10-11 00:53] Identitaet commented on #4403
Sure feel free to ask any questions
As a tip I'd suggest you look at #4414 which is quite similar

[2020-10-11 03:01] bhousel commented on #4436
The issue seems to be caused by this line:
https://github.com/osmlab/name-suggestion-index/blob/56b287fbaec00c3d8c1d0eb02abb733cee51c04a/scripts/build_wikidata.js#L365-L366
Where we fetch all the existing P8253, the "simplify" part is oversimplifying them and only returning the first one. 😆

[2020-10-11 03:44] bhousel commented on #4436
Turns out that `simplify` was only returning one because the first one has a "preferred" rank.  This makes sense!
The fix is to pass the `keepNonTruthy: true` option, to ensure we get all the claims...

<img width="948" alt="Screen Shot 2020-10-10 at 11 20 46 PM" src="https://user-images.githubusercontent.com/38784/95669753-f70ccd80-0b51-11eb-85ab-65c78f647bc3.png">

[2020-10-11 03:46] #4436 closed

[2020-10-11 07:12] pyrog commented on #4427
Thanks guys 😃

[2020-10-11 07:48] shubh710 commented on #4403
Thanks @Identitaet for tip it was quite helpful.
I have submitted PR #4446
Please review and let me know if it is okay or anything is missing.
Thanks again.

[2020-10-11 08:59] Adamant36 opened #4447 "Add Chez Ashton"
Fast food restaurant chain located in Canada.

cuisine=poutine

https://en.wikipedia.org/wiki/Chez_Ashton
https://www.wikidata.org/wiki/Q2963156

[2020-10-11 09:06] Adamant36 opened #4448 "Add King of Donair"
Canadian fast food pizza chain.

cuisine=kebab;pizza

https://en.wikipedia.org/wiki/King_of_Donair
https://www.wikidata.org/wiki/Q6412223

[2020-10-11 09:11] Adamant36 opened #4449 "Add Lafleur"
Canadian fast food chain.

cuisine=hotdog;hamburger

https://en.wikipedia.org/wiki/Lafleur_Restaurants
https://www.wikidata.org/wiki/Q3216107

[2020-10-11 09:24] Adamant36 opened #4450 "Add Burger Street"
American fast food burger and sandwich chain.

cuisine=burger;sandwhich

https://en.wikipedia.org/wiki/Burger_Street
https://www.wikidata.org/wiki/Q4998556

[2020-10-11 09:26] Adamant36 opened #4451 "Add Carino's Italian"
American Italian restaurant chain.

cuisine=italian

https://en.wikipedia.org/wiki/Carino%27s_Italian
https://www.wikidata.org/wiki/Q5039637

[2020-10-11 09:30] vandana1499 commented on #4450
Will u describe more ?

[2020-10-11 09:31] Adamant36 opened #4452 "Add Coco's Bakery"
American restaurant chain. Weirdly they aren't a bakery.

cuisine=american

https://en.wikipedia.org/wiki/Coco%27s_Bakery
https://www.wikidata.org/wiki/Q5139723

[2020-10-11 09:34] Shweta200126 commented on #4451
@Adamant36 Can u explain it a little ?
what do we have to do and on which page?
(link it pls)

[2020-10-11 09:35] Adamant36 commented on #4450
So, it would go in the fast food file.

The code would be something like

`{
  "brands/amenity/fast_food": [
    {
      "displayName": "Burger Street",
      "locationSet": {"include": ["us"]},
      "tags": {
        "amenity": "fast_food",
        "brand": "Burger Street",
        "brand:wikidata": "QQ4998556",
        "brand:wikipedia": "en:Burger Street",
        "cuisine": "burger;sandwhich"

[2020-10-11 09:38] Adamant36 commented on #4450
Btw there's a guide on how to add entries in the contributing file here https://github.com/osmlab/name-suggestion-index/blob/main/CONTRIBUTING.md

[2020-10-11 09:39] Adamant36 commented on #4451
Hello. There's a guide on how to do it in the contributing file. It probably explains things better then I could. Unless you have a specific question.

https://github.com/osmlab/name-suggestion-index/blob/main/CONTRIBUTING.md

[2020-10-11 10:37] #4403 closed

[2020-10-11 13:12] Shweta200126 commented on #4451
I understand now.
Can I take this?

[2020-10-11 13:15] Adamant36 commented on #4451
Yeah, sure.

[2020-10-11 13:46] britiger commented on #4406
I've found in the article in wikipedia for this network, that also the "National Express" is an `operator` of some lines on the network https://de.wikipedia.org/wiki/National_Express_Holding

As I know it will be a problem because if you have the same `operator` and same `locationSet` a equal `id` will be generated.

[2020-10-11 14:44] Robot8A commented on #4436
Thanks to everybody!

[2020-10-11 16:24] TheDynamicPunk commented on #4452
I'm working on this.

[2020-10-11 17:22] #4452 closed

[2020-10-11 19:47] #4447 closed

[2020-10-12 02:16] pushkar1393 commented on #4448
How do you list multiple cuisine? string array ?

[2020-10-12 02:55] Adamant36 commented on #4448
Closed in #4448

[2020-10-12 02:55] #4448 closed

[2020-10-12 03:30] vandana1499 commented on #4450
@Adamant36 have u already assigned this yo @pushkar1393 ?

[2020-10-12 03:48] Adamant36 commented on #4451
Closed in #4467

[2020-10-12 03:49] Adamant36 commented on #4449
Closed in #4449

[2020-10-12 03:49] #4449 closed

[2020-10-12 03:54] Adamant36 commented on #4450
Closed in #4468

@vandana1499 we don't really assign things to people. It's kind of based on whoever decides to do the PR for it. That said, if you want to do a PR for something else that doesn't have yet feel free to. I'll probably open some new issues soon here also.

[2020-10-12 03:54] #4450 closed

[2020-10-12 03:56] Adamant36 commented on #4443
Thanks.

There's a guide on how to do things in the contributing file
https://github.com/osmlab/name-suggestion-index/blob/main/CONTRIBUTING.md

If you have any specific questions feel free to ask.

[2020-10-12 11:16] Shweta200126 commented on #4451
@Adamant36
Ik this got closed but I thought this one's amenity is restaurant and I was going to add the code there.

[2020-10-12 12:16] UKChris-osm opened #4474 "Add multiple GB brands"
A few GB brands that I don't think are in the index yet, a little research and Wikidata creation / updating is also required.

- [ ] National Plastics - Q100297552
https://www.nationalplastics.co.uk/

- [ ] Howarth Timber - Q100298474
https://www.howarth-timber.co.uk/

- [ ] Howdens
https://www.howdens.com/ ~ en:Howdens_Joinery ~ Q5921438

- [ ] City Plumbing
https://www.cityplumbing.co.uk/

- [ ]

[2020-10-12 12:18] Adamant36 commented on #4451
Unfortunately someone else did it in the meantime. Generally, we don't assign people things and it's kind of on a "first come first serve" basis. I'm going to open some issues in a while though. So, you can work one of them if you want or another issue that's open.

[2020-10-12 12:48] Shweta200126 commented on #4451
I understand , I wanted to know wasn't this supposed to added to restaurant amenity?

[2020-10-12 12:51] Adamant36 commented on #4451
Oh, I guess it was. If you want to delete the current entry and do a PR with it in the restaurant file that would be fine.

[2020-10-12 13:02] Shweta200126 commented on #4451
Thanks .

[2020-10-12 13:10] Adamant36 commented on #4474
If you don't mind I'm probably going to split some of these off into individual issues. It seems like they are getting done quicker that way. Since we still have multiple German brands, multiple India brands, etc. etc. that haven't been added yet. Plus, then we won't risk someone trying to do all of them at once and making a bunch of mistakes in the process as much either. Feel free to keep adding

[2020-10-12 13:13] UKChris-osm commented on #4474
@Adamant36 no problem with that idea at all :)

[2020-10-12 13:18] kjonosm opened #4475 "Some bus networks in Germany to add"
"network": "Rhein-Main-Verkehrsverbund"
"network:short": „RMV“
"network:wikidata": "Q314042"
"network:wikipedia": "de:Rhein-Main-Verkehrsverbund"
"route": "bus"

"network": "Rhein-Nahe-Nahverkehrsverbund"
"network:short": „RNN“
"network:wikidata": "Q1245949"
"network:wikipedia": "de:Rhein-Nahe-Nahverkehrsverbund"
"route": "bus"

"network": "Verkehrsverbund Rhein-Mosel"
"network:short": „VRM“
"netw

[2020-10-12 13:43] kjonosm opened #4478 "Some more bus networks in Germany to add"
"network": "Regio Verkehrsverbund Lörrach"
"network:short": „RVL“
"network:wikidata": "Q2138145"
"network:wikipedia": "de:Regio Verkehrsverbund Lörrach"
"route": "bus"

"network": "Regensburger Verkehrsverbund"
"network:short": „RVV“
"network:wikidata": "Q2137458"
"network:wikipedia": "de:Regensburger Verkehrsverbund"
"route": "bus"

"network": "Verkehrsgemeinschaft am Bayerischen Untermain"
"netw

[2020-10-13 04:23] shubh710 commented on #4443
Hi @Adamant36,
Sorry but I will not be able to work until weekend.
Please assign this to someone else if someone can work on it.
Thanks

[2020-10-13 05:06] Adamant36 commented on #4443
No worries. We don't really assign things to people anyway. So, feel free to work on it or anything else when you have the time. Otherwise, someone else will do it eventually.

[2020-10-13 08:10] debyos commented on #4443
Hi,
thanks for doing it. I can't code, nevertheless, I can help you with information from the field.
Cheers

[2020-10-13 08:28] debyos opened #4483 "add BudMil"
Hi,

budmil is a small but well-known Hungarian sportswear brand:
- https://budmil.eu/en
- https://hu.wikipedia.org/wiki/Budmil
- http://overpass-turbo.eu/s/YYB

It may be too small to deal with it.

[2020-10-13 10:06] Adamant36 commented on #4483
From their website it looks like they have 42 stores. Which is usually enough. What's included or not isn't a hard and fast rule anyway. Things are usually included if it would be a hassle for someone to add the tags to the POIs on their own. For me at least that's usually 15 or 20 locations. Although, sometimes it's lower. For instance, I'm pretty sure I've added a few banks with only like 7 loca

[2020-10-13 10:33] debyos commented on #4483
Nevertheless, thank you!

[2020-10-13 17:48] UKChris-osm commented on #4483
Added via [ad4df05](https://github.com/osmlab/name-suggestion-index/commit/ad4df05116e30961d0aa546b61d05505f5219f8b), let me know if you think I missed anything :)

[2020-10-13 17:48] #4483 closed

[2020-10-13 18:18] UKChris-osm commented on #4451
I've lost track of this one, but isn't "__Carino's__" just a rebrand of [Johnny Carino's](https://nsi.guide/index.html?t=brands&k=amenity&v=restaurant&tt=carin#johnnycarinos-96af40) or are they not the same??

[2020-10-13 19:37] Shweta200126 commented on #4451
@UKChris-osm yup I searched and you are right!!
They are same.
 Its already there in the code , same brand wikidata too.
what should I do now?

[2020-10-13 20:55] #4475 closed

[2020-10-13 21:10] bhousel commented on #4451
Thanks all, I think this is good now.. It looks like they are calling themselves "Johnny Carino's" now, and we have matchNames for the older names.

[code]

[2020-10-14 02:33] Adamant36 opened #4488 "Add Buildbase"
GB based DIY chain.

shop=doityourself

https://en.wikipedia.org/wiki/Buildbase
https://www.wikidata.org/wiki/Q4986416

[2020-10-14 02:35] Adamant36 opened #4489 "Add Hirebase"
GB based tool hire chain.

shop=tool_hire

https://www.wikidata.org/wiki/Q100297859

[2020-10-14 02:38] Adamant36 opened #4490 "Add Alsford"
GB based DIY chain.

shop=doityourself

https://www.wikidata.org/wiki/Q100298902

[2020-10-14 10:34] #4488 closed

[2020-10-14 10:34] #4490 closed

[2020-10-14 10:35] #4489 closed

[2020-10-14 20:58] mneko opened #4502 "npm build strips matchnames"
This might just be user error, but when I `run build` after adding new brands, it removes the matchNames I added, and I have to readd them every time.

[2020-10-14 21:16] bhousel commented on #4502
This is expected, the `npm run build` script removes any matchNames that are considered redundant.

If a "name" is just a variation on an existing name tag, or a variation in spacing or punctuation or something like that, it will already be indexed by the matcher.

[2020-10-14 21:16] #4502 closed

[2020-10-15 22:06] peternewman commented on #2883
#3056 was closed as:

Going to close this for now.

Restructuring the code to allow `operator` or `network` to be the the defining tag (instead of `brand`) is in the back of my mind and will happen eventually.

_Originally posted by @bhousel in https://github.com/osmlab/name-suggestion-index/pull/3056#issuecomment-637693978_

Can this not be merged now we don't have to have names, or is this a dif

[2020-10-15 22:11] peternewman commented on #3799
We don't need names now, so this can be fixed can't it?

[2020-10-16 07:16] #4478 closed

[2020-10-17 01:02] ashutoshshisodia commented on #4474
Hey @Adamant36 I am from India and I see many brands are not listed. Shall I create an issue for that ? Or just create a PR without the issue ?

[2020-10-17 02:28] Adamant36 commented on #4474
Either one is fine. If you want to add them yourself then a PR works. If not the feel free to open an issue. Although if its a lot of brands id suggest opening multiple issues. Since it seems like they get dealt with quicker that way.

[2020-10-17 18:06] trigpoint commented on #3390
The differences between co-ops are import in areas where they overlap.

Different membership schemes meaning different loyalty cards and other benefits. For example Mid-Counties give 10% off to members over 60 on a Tuesday.

[2020-10-17 19:17] frodrigo commented on #2998
Done
https://github.com/osm-fr/osmose-backend/pull/874
http://osmose.openstreetmap.fr/en/errors/?item=3130

Partial implementation on locationSet support. Osmose deals with area using iso code, and other code for subarea. Unlike NSI using JSON.

cc @nlehuby

[2020-10-18 13:34] UKChris-osm commented on #4231
Just as an update, I have seen some PR's of mine are now marked as competed, so anybody submitting a PR here should be fine as well :)

[2020-10-18 15:43] bhousel commented on #2998
Cool!  That's great news..

 It would probably be useful to port [location-conflation](https://github.com/ideditor/location-conflation) to Python, so you can resolve the locationSets into GeoJSON shapes.

[2020-10-18 15:58] frodrigo commented on #2998
Not interested in supporting arbitrary polygon in Osmose as we only need area/sub area and geometry from OSM to define them.

[2020-10-18 16:03] bhousel commented on #2998
The NSI now tracks handful of regional brands where the GeoJSON is important.
Peoples Bank is one example:  https://nsi.guide/index.html?t=brands&k=amenity&v=bank&tt=peoples%20bank

[2020-10-18 21:29] b4hub4l1 opened #4526 "Added wikidata for multiple shops"
Wiki references (brand:wikidata and brand:wikipedia) is missing for few brands

1. M.Видео in shops/electronics.json
2. Infiniti in shops/car.json
3. Jaguar in shops/car.json
4. Vauxhall in shops/car.json

[2020-10-19 09:56] UKChris-osm opened #4528 "Coinstar payment terminals"
I've added [Coinstar](https://github.com/osmlab/name-suggestion-index/commit/8f47c4d38856eedbac6fd13ec958762033b5b214) to Payment Terminals, which is a terminal in which you can pay in coins and have either notes returned or the money paying into an Amazon account or charity donation.

But I just wanted to check if everybody is happy with how it was added? Is "_Payment terminal_" accurate, and wou

[2020-10-19 12:03] TheDynamicPunk commented on #4231
My 4 pull requests are shown as complete with one of them maturing in front of my eyes 😉. Thanks everyone, for this opportunity and helping me feel welcome to this project. I'm proud to say my real open source journey began through this project!

Happy hacktober!

[2020-10-19 12:39] bhousel commented on #4528
They seem like more of a vending machine to me.  Also, I'd like to see most entries have names unless there is a really good reason not to have them.

[2020-10-19 12:43] bhousel commented on #4526
Thanks @b4hub4l1 - no need to add an extra issue you've already sent a pull request.

[2020-10-19 12:43] #4526 closed

[2020-10-19 16:56] UKChris-osm commented on #4528
If I were to move it to vending_machine.json, what tag should be used for "_vending_"?

[2020-10-19 17:22] bhousel commented on #4231
Great! We are happy to have you helping us out  🙇

[2020-10-19 23:41] modaserMoj commented on #4036
I made a pull request for Aloha Island Mart #4539

[2020-10-20 13:03] kjonosm opened #4542 "update some clothes shop entries"
some clothes shops need an update

- [x] Inside - seems to be a generic name and should be discarded

- [x] Fashion - seems to be a generic name and should be discarded

- [x] Avenue - stores seem to be closed (bankruptcy) according to wikipedia

- [x] Edgards - seems to be a department store not just for clothes

[2020-10-20 13:27] rjw62 opened #4543 "Publish a new release or otherwise ensure iD can import recent updates to the NSI"
I see that this project hasn't published a release since v4.0.2 in April 2020. I assume that this is why iD hasn't updated its version of the NSI since that time. iD is thus not taking advantage of more recent updates to the NSI, and more importantly is continuing to entice mappers to make erroneous changes based on mistakes in that release of the NSI that have since been fixed.

I understand that

[2020-10-20 13:32] kjonosm opened #4544 "split German insurance offices Provinzial"
there are two independent insurance companies with that name:

- Provinzial Nordwest, see https://de.wikipedia.org/wiki/Provinzial_NordWest
- Provinzial Rheinland, see https://de.wikipedia.org/wiki/Provinzial_Rheinland

[2020-10-20 13:39] bhousel commented on #4543
I agree, we should release a new version soon.  The next published version of NSI will be a major release with breaking changes, so nothing will happen really quickly.. But I do expect to be able to push an update to iD in the next month or so.

[2020-10-20 13:51] kjonosm opened #4545 "discard German optician Die Brille"
Please discard German optician "Die Brille" from the index. It's a generic name for several independent shops.

[2020-10-20 17:14] xhika commented on #4474
#4541 Took the liberty to fix all :) hope its alright

[2020-10-20 17:39] tordans commented on #4545
You refer to this, right?
https://github.com/osmlab/name-suggestion-index/blob/9e7f1561e8cd7045f5864cf81908bab4050ffb6b/data/brands/shop/optician.json#L108-L117

It does not have a Wikidata and I cannot see a chain in Google either. IMO good to be removed.

I could not find any relevant history about it either (https://github.com/osmlab/name-suggestion-index/blame/b62ac37a1d9b61a2d21b416322aa19ce4

[2020-10-20 17:53] tordans commented on #4544
Reference to the json: https://github.com/osmlab/name-suggestion-index/blob/eb58fea43b697ed2662a41de090f3aa4b06e5522/data/brands/office/insurance.json#L748-L757

So the new JSON should be:
[code]

**Location:**
Looking at https://de.wikipedia.org/wiki/Provinzial_Rheinland#/media/Datei:Karte_%C3%96ffentliche_Versicherer_in_Deutschland.png, it should be possible to make the locationSet more specific

[2020-10-20 18:13] tordans commented on #4542
About the closed store: The way I read https://github.com/osmlab/name-suggestion-index/issues/3800 we would keep thin in the NSI; is just has and end_date in wikidata.

Btw, some linkes (wikipedia, wikidata other research) would be helpful IMO.

[2020-10-20 19:06] kjonosm commented on #4544
Yes, that looks great!

[2020-10-20 19:18] kjonosm commented on #4542
Avenue - see https://en.wikipedia.org/wiki/Avenue_(store)
Edgards - see https://en.wikipedia.org/wiki/Edgars_(department_store)

for both Inside and Fashion I cannot find any meaningful google or wikipedia results...hence my note

[2020-10-20 20:16] tordans opened #4547 "How does the autogeneration of the id field work?"
In https://github.com/osmlab/name-suggestion-index/blob/main/CONTRIBUTING.md#id-generated it says

Each item has a unique id generated for it. You can leave it out and the build script will generate one automatically.

How does this work in detail?

1. For my edit, I leave the `id: "",` empty.
2. Then I run `npm run build` => The value in my edited file is not changed
How do I get the id value set

[2020-10-20 21:07] bhousel commented on #4547
I don't know - `npm run build` should read all the files into the index and write them back out again cleaned up and with identifiers.  Are there build errors?

[2020-10-20 21:24] gendy54 commented on #4136
If the tag `operator `is accepted, that's fine. Honestly, no French person will put a tag `brand `on structures carried by non-commercial entities: associations, foundations, public services,... It's counter-intuitive.

[2020-10-21 00:09] Adamant36 commented on #4136
How is something like a bus company not a brand just because its a public service? I know where I live that the local bus network, Butte Regional Transit, is branded "B-Line." Its on the sides of their website, sides of buses, stickers, mugs, bus passes, people refer to it as that etc etc. They are operated by Veolia Transport though (ironically a French company btw who seems to be fine with the w

[2020-10-21 08:43] TheDynamicPunk commented on #4547
I generally remove the whole id tag when adding a brand and then run the command `npm run build` and it generates the id for that brand

[2020-10-21 11:22] tordans commented on #4547
Thanks for the help. It worked for https://github.com/osmlab/name-suggestion-index/pull/4548, now.

I tried to clarify the docs via https://github.com/osmlab/name-suggestion-index/pull/4553/files. IMO this makes it easier to understand.

[2020-10-21 13:43] #4547 closed

[2020-10-21 13:52] bhousel commented on #4545
Looks like it was collected from the OSM planet file recently:
https://github.com/osmlab/name-suggestion-index/blob/be35aaee141a497a8b847a2bbf088474b1869636/dist/collected/names_all.json#L8501
There are 55 POIs in osm tagged with `name=Die Brille` and `shop=optician`

https://nsi.guide/index.html?t=brands&k=shop&v=optician#diebrille-7fb7e9
https://overpass-turbo.eu/s/Zg8

Many of them do seem to h

[2020-10-21 13:58] #4545 closed

[2020-10-21 15:31] bhousel commented on #4053
[narrator voice]: It did not help.

[2020-10-22 14:13] bhousel commented on #4544
reopening, as the latest build put the "Provinzial" item back.. caf0895f

[2020-10-22 14:15] bhousel commented on #4544
The correct way to fix this is for the 2 Provinzials to have distinct locationSets (specify the regions where they operate with a geojson) and for each entry to also match the generic "Provinzial" somehow, for example in the `short_name` tag or a `matchName` property.

[2020-10-23 08:12] amous4822 commented on #4443
It's a Hungarian retail company. Which file should I add it in ?

[2020-10-23 16:14] amous4822 commented on #4443
please review and revert back.
Thanks

[2020-10-24 14:02] peternewman commented on #2883
Bump @bhousel , I'd say there is now a definite need for this (even ignoring iD). StreetComplete is trying to do a quest based on essentially this info but as there is no alternative source I'd personally say what it has leaves something to be desired at best, see for example the NoteMachine or Co-op variants here:
https://github.com/westnordost/StreetComplete/blob/0a1a722fece9b8706915806ebfebd5cd

[2020-10-24 16:19] kjonosm opened #4578 "discard Don Camilla from the index"
https://nsi.guide/index.html?t=brands&k=amenity&v=restaurant#doncamillo-2fabb0

Don Camillo restaurants are not a chain but independent Italian restaurants named after a famous fictional character.

[2020-10-24 16:22] bhousel commented on #2883
Cool, yeah @westnordost and I were chatting on the OSM US Slack about this.  I can figure out something to get the bank ATMs into NSI.

I feel like there are a few situations where we want to define rules or templates like:
- "For each `amenity=bank` generate an ATM like this"
- "For each `route=bus` generate Bus Stops and Stop Locations like this"

Rules and templating engines can involve a lot o

[2020-10-24 16:32] kjonosm opened #4579 "discard "Happy Garden" from the index"
https://nsi.guide/index.html?t=brands&k=amenity&v=restaurant#happygarden-2fabb0

Happy Garden seems to be a generic name for several independent Asian restaurants, not a brand name.

[2020-10-24 16:52] peternewman commented on #2883
For each charity generate clothes recycling bins.

Do we need to deal with being able to either exclude or specifically approve stuff for some rules for example in London the stops would be owned by Transport for London I think, but certainly for coaches commercial companies would stop at them. Or the same way the UK rail network has a mix of people owning tracks, stations and routes. Although I g